meta(charset='utf-8')
link(rel="Shortcut Icon",href="#{assets_head}/images/icon.png")
link(rel="stylesheet",href="#{assets_head}/css/bootstrap.css",type="text/css")
link(rel="stylesheet",href="#{assets_head}/css/main.css",type="text/css")
script(src='#{assets_head}/js/jquery.js')
