meta(charset='utf-8')
link(rel="Shortcut Icon",href="/assets/images/icon.png")
link(rel="stylesheet",href="/assets/css/bootstrap.css",type="text/css")
link(rel="stylesheet",href="/assets/css/main.css",type="text/css")
script(src='/assets/js/jquery.js')
