#header
  ul.nav.nav-pills
    li(class="#{pageId==1?'active':''}")
      a(href="/admin/articles") 原创文章管理
    li(class="#{pageId==2?'active':''}")
      a(href="/admin/reads") reads
    li(class="#{pageId==3?'active':''}")
      a(href="/admin/acts") acts
    li(class="#{pageId==4?'active':''}")
      a(href="/admin/upload") 传图片
  