!!! 5
html
  head
    meta(charset='utf-8')
    title 私信-#{locals.card?card.nick:""}
    include ../head
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    style
  body#talk
    include ../header
    #content
      p.alert 私信功能即将上线
      if !locals.target_card
        p.alert.alert-error 不存在的用户，不能使用私信功能
      else
        .module
          .hd 与 #{target_card.nick} 的对话
          .bd 
            
    include ../footer