!!! 5
html
  head
    include ./../head
    title 前端乱炖-活动
    style
      
  body#act
    include ./../header
    #content.clearfix
      #main_banner
        a
          img(src="http://i.mmcdn.cn/simba/img/T1G8tMFntcXXb1upjX.jpg")
      #joiners.module
        .hd 报名（12/30）
        .bd 
          .joiners
            a
              img(src="http://tp1.sinaimg.cn/1717808700/180/5656122350/1",width=50,height=50)
            a
              img(src="http://tp1.sinaimg.cn/1717808700/180/5656122350/1",width=50,height=50)
            a
              img(src="http://tp1.sinaimg.cn/1717808700/180/5656122350/1",width=50,height=50)
            a
              img(src="http://tp1.sinaimg.cn/1717808700/180/5656122350/1",width=50,height=50)
            a
              img(src="http://tp1.sinaimg.cn/1717808700/180/5656122350/1",width=50,height=50)
            a
              img(src="http://tp1.sinaimg.cn/1717808700/180/5656122350/1",width=50,height=50)
          .me-join
            a.btn() 我也要报名
            label.label 为了防止恶意报名，报名时收取10元押金，到场后返还，不到场不返还。
      #supporters.module
        .hd 赞助商
        .bd 
          p.label 活动中产生的吃喝费用，休闲消费，讲师补贴。由第三方企业赞助。谢谢他们对前端事业的支持。
          .logos
            a
              img()
            a
              img()
      #speaker.module
        .hd 讲师&主题
        .bd 
          

