!!! 5
html
  head
    include ./../head
    title 前端乱炖-活动
    style
      
  body#act
    - locals.pageId=4;
    include ./../header
    #content.clearfix
      #main_banner
        a
          img(src="http://i.mmcdn.cn/simba/img/T1G8tMFntcXXb1upjX.jpg")
      #joiners.module
        .hd 报名（12/30）
        .bd 
          .joiners
            a
              img(src="http://tp1.sinaimg.cn/1717808700/180/5656122350/1",width=50,height=50)
            a
              img(src="http://tp1.sinaimg.cn/1717808700/180/5656122350/1",width=50,height=50)
            a
              img(src="http://tp1.sinaimg.cn/1717808700/180/5656122350/1",width=50,height=50)
            a
              img(src="http://tp1.sinaimg.cn/1717808700/180/5656122350/1",width=50,height=50)
            a
              img(src="http://tp1.sinaimg.cn/1717808700/180/5656122350/1",width=50,height=50)
            a
              img(src="http://tp1.sinaimg.cn/1717808700/180/5656122350/1",width=50,height=50)
          .me-join
            a.btn() 我也要报名
            label.label 为了防止恶意报名，报名时收取10元押金，到场后返还，不到场不返还。
      #supporters.module
        .hd 赞助商
        .bd 
          p.label 活动中产生的吃喝费用，休闲消费，讲师补贴。由第三方企业赞助。谢谢他们对前端事业的支持。
          .logos
            a(href="http://www.host-700.com",target="_blank")
              img(src="http://htmljs.b0.upaiyun.com/images/logo-host700.png")
            a(href="http://www.souche.com",target="_blank")
              img(src="http://htmljs.b0.upaiyun.com/images/logo-souche.png")
      #speaker.module
        .hd 讲师&主题
        .bd.clearfix 
          .head_pic
            img(src="http://img02.taobaocdn.com/tps/i2/T1OA6hXgxbXXXMNuYv-150-150.jpg",width="150")
          .infos
            h2.who 
              | 主持：<em>莫大（孙悟空）</em>
              a.btn(href="",target="_blank") 他的名片
            .topic 主题：<em>《第一次分享第一次分享》</em>
            .desc 介绍：五一前我说要把前端乱炖整个改版的，其实我本地已经在跑一个新的前端乱炖了，跟现在的已经完全不是一个东西了，变成了一个平台化的产品，只是自
              

