!!! 5
html
  head
    include ./../head
    title 前端乱炖-活动
    link(href='/assets/css/Markdown.Editor.css', type='text/css', rel='stylesheet', charset='utf-8')
    script(src='/assets/js/jquery.js')
    script(src='/assets/js/bootstrap/bootstrap-transition.js')
    script(src='/assets/js/bootstrap/bootstrap-modal.js')
    script(src='/assets/js/bootstrap/bootstrap-tooltip.js')
    script(src='/assets/js/Markdown.Converter.js')
    script(src='/assets/js/Markdown.Sanitizer.js')
    script(src='/assets/js/Markdown.Editor.js')
  body#act-add
    - locals.pageId=5;
    include ./../header
    #content.clearfix
      form(action="",method="post")
        fieldset
          label 活动名称
          input.input-xxlarge(type="text",placeholder="活动名称",name="title")
          label 人数限制
          input.input-small(type="number",placeholder="人数限制",name="person_limit")
          label 时间
          input(type="datetime-local",placeholder="时间",name="time")
          label 地址
          input.input(type="text",placeholder="地址",name="location")
          label 地图地址
          input.input(type="text",placeholder="地图地址",name="map_url")
          label banner地址
          input.input-xxlarge(type="text",placeholder="banner地址",name="banner")
          label 介绍
          .wmd-panel
            #wmd-button-bar
            textarea.wmd-input#wmd-input(name="desc_md")
            .wmd-panel.wmd-preview
              div 预览
              #wmd-preview
          input#desc_html(type="hidden",name="desc_html")

          div
            button.btn(type="submit") 提交
      #myModal.modal.hide.fade.
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">插入图片</h3>
        </div>
        <div class="modal-body">
            <input type="file" name="pic" id="file" />
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
          <button class="btn btn-primary">插入</button>
        </div>
    script(src='/assets/js/ajaxfileupload.js')
    script(src='/assets/js/loadingTip.js')
    script(src='/assets/js/messageTip.js')
    script
      var converter1 = Markdown.getSanitizingConverter();
      var editor1 = new Markdown.Editor(converter1);
      editor1.run();
      
      editor1.hooks.chain("onPreviewRefresh", function () {
        console.log($("#wmd-preview").html())
        $("#desc_html").val($("#wmd-preview").html())
      });
      editor1.hooks.set('insertImageDialog', function(callback) {
        $("#myModal").modal("show");
        $("#file")[0].onchange=function(){
          $.ajaxFileUpload({
            url:"/upload", 
            secureuri:false,
            fileElementId:'file',
            dataType: 'json',
            success: function (data, status)
            {
              if(data.success){
                callback("/uploads/"+data.data.filename)
                $("#myModal").modal("hide");
              }else{
                messageTip.show(data.info)
                
              }
              loadingTip.hide()
            },
            error:function(){
              
              loadingTip.hide()
            }
          })
        };
        return true; // tell the editor that we'll take care of getting the image url
      });        

