#footer
  .wrapper
    .module.support 
      .hd 赞助商
      .bd 
        ul.clearfix
          li
            a(href="https://manager.host700.com/aff.php?aff=043",target="_blank",title="便宜稳定的VPS提供商") 
              img(src="#{assets_head}/images/logo-host700.png")
              .desc 便宜稳定的VPS提供商
          li
            a(href="http://souche.com/",target="_blank",title="国内最专业可信的二手车平台") 
              img(src="#{assets_head}/images/logo-souche.png")
              .desc 便宜稳定的VPS提供商
        .add
          a(href="/ad") 我也要赞助
    .module.links
      .hd 友情链接
      .bd 
        ul.clearfix
          li
            a(href='http://www.tuer.me', target='_blank') 兔耳日记
          li
            a(href='http://www.woween.com/', target='_blank') 小本堂
          li
            a(href='http://www.alexblair.org', target='_blank') aの碎碎念
          li
            a(href='http://hussion.me/', target='_blank') hussion
          li
            a(href='http://wenkm.com', target='_blank') kevin
          li
            a(href='http://www.w3cplus.com', title='W3CPlus | css3教程-css3实例-css3动画 | 记述前端那些事——引领Web前沿', target='_blank') W3CPlus
          li
            a(href='http://js8.in/', target='_blank') 三水清
          li
            a(href='http://blog.linxz.de/', target='_blank') 小志的博客
          li
            a(href='http://91gaoqing.com', target='_blank') Programer's Life
          li
            a(href='http://www.zmq.cc', target='_blank') Richard.z
          li
            a(href='http://blog.baiwand.com/', target='_blank') 成长脚印
    .module
      div(style="font-size:12px;line-height:20px;") Power By NodeJS  浙ICP备12047043号
      div.
        <iframe src="http://ghbtns.com/github-btn.html?user=xinyu198736&repo=htmljs&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=xinyu198736&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>


script.
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36222024-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
#gotop TOP
script
  $("#gotop").click(function(){
    $("html,body").animate({scrollTop:0})
    })