#footer
  .wrapper

    .module.links
      .hd 友情链接
      .bd 
        ul.clearfix
          li
            a(href='http://www.tuer.me', target='_blank') 兔耳日记
          li
            a(href='http://www.woween.com/', target='_blank') 小本堂
          li
            a(href='http://www.alexblair.org', target='_blank') aの碎碎念
          li
            a(href='http://hussion.me/', target='_blank') hussion
          li
            a(href='http://wenkm.com', target='_blank') kevin
          li
            a(href='http://www.w3cplus.com', title='W3CPlus | css3教程-css3实例-css3动画 | 记述前端那些事——引领Web前沿', target='_blank') W3CPlus
          li
            a(href='http://js8.in/', target='_blank') 三水清
          li
            a(href='http://blog.linxz.de/', target='_blank') 小志的博客
    .module
      div Power By NodeJS  浙ICP备12047043号
      div.
        <iframe src="http://ghbtns.com/github-btn.html?user=xinyu198736&repo=htmljs&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=xinyu198736&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>


script.
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36222024-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
#gotop TOP
script
  $("#gotop").click(function(){
    $("html,body").animate({scrollTop:0})
    })