#footer
  .wrapper

    .module.links
      .hd 友情链接
      .bd 
        ul.clearfix
          li
              a(href='http://www.alexblair.org') aの碎碎念
            li
              a(href='http://www.fengyijiuchui.com/') fengyijiuchui
            li
              a(href='http://wenkm.com', target='_blank') kevin
            li
              a(href='http://www.w3cplus.com', title='W3CPlus | css3教程-css3实例-css3动画 | 记述前端那些事——引领Web前沿', target='_blank') W3CPlus
            li
              a(href='http://js8.in/') 三水清
            li
              a(href='http://kisspeach.com/') 传说中的桃子
            li
              a(href='http://www.kekaku.com/') 可咔酷 | 网络杂货铺
            li
              a(href='http://blog.linxz.de/', target='_blank') 小志的博客
            li
              a(href='http://www.xdf.me/') 徐达峰前端博客
            li
              a(href='http://www.xiangqu.com', target='_blank') 想去
            li
              a(href='http://lisie.hdu.edu.cn/passionke/') 柯激情的个人主页
    .module
      div Power By NodeJS 

script.
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36222024-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
#gotop TOP
script
  $("#gotop").click(function(){
    $("html,body").animate({scrollTop:0})
    })