!!! 5
html
  head
    link(rel="Shortcut Icon",href="#{assets_head}/images/icon.png")
    link(rel="stylesheet",href="#{assets_head}/css/bootstrap.css",type="text/css")
    link(rel="stylesheet",href="#{assets_head}/css/main.css",type="text/css")
  body
    block content