!!! 5
html
  head
    include head
    style
      body{text-align:center;padding-top:100px;}

  body#404
    #login_popup 
        span 请先用新浪微博登录
        a.icon(href="#{link}")
        div 
          |页面太简单？博主没空呗，帮我来个pull request。
          a(href="https://github.com/xinyu198736/htmljs",target="_blank") 点这里