!!! 5
html
  head
    include head
    style
      body{text-align:center;padding-top:0px;}

  body#404
    #minilogin_popup.login_popup 
        span 请先用新浪微博登录
        a.icon(href="#{link}")
        div 
          |其他登录方式陆续开发中，造成不便，敬请谅解
