!!! 5
html
  head
    link(rel="stylesheet",href="#{assets_head}/css/bootstrap.css",type="text/css")
    link(rel="stylesheet",href="#{assets_head}/css/main.css",type="text/css")
  body
    #header
      .wrapper
        h1 爱学
        
        .navbar
          .navbar-inner
            .nav
              li 
                a(href="/") 每日推荐
              li.active
                a(href="/public") 大家在读
              li
                a(href="/hot") 今日热点
              li
                a(href="/me") 我的阅读
    #content
      .wrapper
        .group
          .group_bd
            .item
              .item_title 
                span.item_lang JavaScript
                h2 
                  a(href="#") javascript控制滚动条的位置，获取控件的位置
              .item_desc AngularJS 是一个为动态WEB应用设计的结构框架。它能让你使用HTML作为模板语言，通过扩展HTML的语法，让你能更清楚、简洁地构建你的应用组件。它的创新点在于，利用 数据绑定 和 依赖注入，它使你不用再写大量的代码了
              .item_others
                .item_actions
                  a(href="#") 加入我的beebox
                  a(href="#") 赞(100)
                  a(href="#") 评论(3)
                .item_time 2013-02-23
                span.item_tags 
                  |标签：
                  a tag1
            .item
                .item_title 
                  span.item_lang JavaScript
                  h2 
                    a(href="#") javascript控制滚动条的位置，获取控件的位置
                .item_desc AngularJS 是一个为动态WEB应用设计的结构框架。它能让你使用HTML作为模板语言，通过扩展HTML的语法，让你能更清楚、简洁地构建你的应用组件。它的创新点在于，利用 数据绑定 和 依赖注入，它使你不用再写大量的代码了
                .item_others
                  .item_actions
                    a(href="#") 加入我的beebox
                    a(href="#") 赞(100)
                    a(href="#") 评论(3)
                  .item_time 2013-02-23
            .item.fold
              .item_title 
                span.item_lang JavaScript
                h2 
                  a(href="#") javascript控制滚动条的位置，获取控件的位置
              .item_desc AngularJS 是一个为动态WEB应用设计的结构框架。它能让你使用HTML作为模板语言，通过扩展HTML的语法，让你能更清楚、简洁地构建你的应用组件。它的创新点在于，利用 数据绑定 和 依赖注入，它使你不用再写大量的代码了
              .item_others
                .item_actions
                  a(href="#") 加入我的beebox
                  a(href="#") 赞(100)
                  a(href="#") 评论(3)
                .item_time 2013-02-23
            .item
                .item_title 
                  span.item_lang JavaScript
                  h2 
                    a(href="#") javascript控制滚动条的位置，获取控件的位置
                .item_desc AngularJS 是一个为动态WEB应用设计的结构框架。它能让你使用HTML作为模板语言，通过扩展HTML的语法，让你能更清楚、简洁地构建你的应用组件。它的创新点在于，利用 数据绑定 和 依赖注入，它使你不用再写大量的代码了
                .item_others
                  .item_actions
                    a(href="#") 加入我的beebox
                    a(href="#") 赞(100)
                    a(href="#") 评论(3)
                  .item_time 2013-02-23
    #footer
    