
#articles,#article{

  .left{
    float:left;
    width:680px;
    .infos{
      margin-left: 0;
    }
    .new_warning{
    margin-left:0;
    width:640px;

    }
    
    .title{
      a{
overflow: hidden;
height: 30px;
      }
      }
    .cats{
      background: #fff;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 3px;
    a{
      border-right:1px solid #ddd;
      padding:0 10px;
      font-size:16px;
      color:#999;
    }
    a.active{
      color:#333;
    }
    }
  }
  .right{
    float:left;
    width:250px;
    margin-left: 10px;
    .actions{
    background: #fff;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 3px;
      .publish{
        height:30px;
        line-height: 30px;
        background: #5bb793 url(../images/button+.png) no-repeat 0 -1px;
        padding-left: 30px;
        padding-right: 10px;
        border-radius: 3px;
        display: inline-block;
        color: #fff;
        margin-right:10px;
      }
      .publish:hover{
          background-color: #35b382; 
      }
    }
    .item{
        border-bottom: 1px solid #eee;
        padding:5px 0;
        a{
      color:@lightgreen;
    }
      }
  }
  

}
#articles
{
  background: #efefef;
  .column{
    background: #fff;
    color:#333;
    padding:15px;
    border-radius: 3px;
    margin-bottom: 10px;
    .col-title{
      font-size: 16px;
      color:#666;
      font-weight: bold;
      line-height:30px;
    }
    .col-desc{
      color:#999;
      font-size: 12px;
    }
    .col-user{
      color:#999;
      font-size: 12px;
    }
    .col-action{
      margin-top: 10px;
    }
  }
  .column-list{
    border-radius:5px;
    margin-bottom: 20px;

    .hd{
      font-size: 14px;
      font-weight: bold;
    }
    .bd{
      
      width:1000px;
      overflow: hidden;
    }
    .btn{
      margin-right: 10px;
    }
    .column-item{
      display: inline-block;
      border-radius: 3px;
      margin-bottom: 10px;
      margin-right:5px;
      vertical-align: top;
      width:230px;
      .title{
        font-size: 14px;
      }
      .user{
        line-height: 25px;
      }
      .others{
        color: #aaa;
        font-size: 12px;
        line-height:20px;
        opacity: 0.8;
        margin-left: -2px;
        .item{
          margin-right: 10px;
          i{
            transform: scale(0.7);
            -webkit-transform: scale(0.7); /* for Chrome || Safari */

            -moz-transform: scale(0.7); /* for Firefox */

            -ms-transform: scale(0.7); /* for IE */

            -o-transform: scale(0.7); /* for Opera */
            vertical-align: -2px;
            padding-right: 2px;
          }
        }
        .key{
        }
      }
    }
    .other-column{
      display: inline-block;
    }
    .more-column,.create-column,.publish-column{
      padding:5px 10px;
      margin:0;
      margin-bottom: 2px;
      font-size: 12px;
      width:70px;
      margin-right: 5px;
      i{
        margin-right: 3px;
        margin-top: -1px;
      }
    }
    
  }
  .post{
    background: #fff;
    padding:10px;
    position: relative;
    .tip{
      // position: absolute;
      right:0;
      top:0;
      width:40px;
      height:16px;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      background: @blue;
      color: #fff;
      z-index: 10;
      padding:1px 4px;
      font-weight: normal;
      font-size: 12px;
      vertical-align: 2px;
      margin-left: 10px;
    }
    .tip.new{
      background: #cb7a65;
    }
    .tip.hot{
      background: #f74360;
    }
    .fang-eye{
          display: inline-block;
          width:13px;
          height:13px;
          background: url(../images/fang-eye.png) no-repeat;
          background-size: 100%;
        }
    .entry-title{
      position: relative;
      .headpic{
        float: left;
        margin-right: 20px;
      }
      .title{
        font-size:15px;
        line-height: 30px;
        margin:0;
        font-weight: bold;
        font-weight: normal;
        padding-right:50px;
        a{
          color: #333;
        }
      }
      .title{
        margin:0;
        a{
        line-height: 30px;
        margin:0;
        color: #111;
        font-weight: normal;
        }
        .real-title{
          margin-left: 10px;
        }
         .t-user{
        display: inline-block;
        margin-right: 5px;
        vertical-align: -4px;
        background: #fff;
        box-shadow: 1px 1px 1px #ddd;
        width:20px;
        height:20px;
        img{
          display: block;
        }
      }
      }
      .others{
        margin-top: 10px;
      }
      .item{
        font-size: 12px;
        margin-right: 20px;

        .index{
          color:#aaa;
        }
        .value{
          color:#999;
        }
      }
      .actions{
        a{
          margin-right: 5px;
        }
      }
      .tags{
        a{
          margin-right: 5px;
        }
      }
      .user{
        position: absolute;
        right:10px;
        top:7px;
        a{
          display: block;
        }
        img{
          width:40px;
          height:40px;
        }
      }
    }
    .entry-content{
      padding:20px 0;
      word-break: break-all;
      color:#404040;
      h1,h2,h3,h4,h5{
        font-size:1.5em;
      }
      p{
        font-size:14px;
        line-height:20px;
        margin:10px 0;
      }
    }
    .entry-foot{
      line-height: 30px;
      .item{
        font-size: 12px;
        margin-right: 20px;
        .index{
          color:#bbb;
        }
        .value{
          color:#999;
        }
      }
    }
  }
  .post.yooo{
    background: #F7F7F7;
  }
  .article-list{
    margin:0;
    padding:0;
  
  }
  
}
#article
{
  background: #efefef;
  .right{
    .module.count{
      span{
        padding-right: 10px;
        color: #999;
      }
    }
    .module.user{
      .item{
        margin-top: 10px;
        font-size: 12px;
        color:#999;
      }
    }
  }
  .post{
    .entry-title{
       border-bottom: 1px solid #eee;
       padding-bottom: 10px;
      .headpic{
        float: left;
        margin-right: 20px;
        margin-top:10px;
      }
      .title{
        font-size:20px;
        line-height: 30px;
        margin:0;
        color: #404040;
        font-weight: normal;

      }
      .item{
        font-size: 12px;
        margin-right: 20px;
        .index{
          color:#aaa;
        }
        .value{
          color:#888;
        }
      }
    }
    .entry-content{
      color:#555;
      padding:20px 0;
      font-size:13px;
      line-height:25px;
      h1,h2,h3,h4,h5{
        font-size:1.5em;
      }
      word-wrap: break-word; 
      word-break:break-all;
      p{
        
        line-height:25px;
        margin:20px 0;
      }
      img{
        display: block;

      }
    }
    .entry-meta{
      padding-top: 10px;
      border-top: 1px solid #ddd;
      color:#999;
    }
  }
  #score{
    .bd{
      color:#999;

    }
    .mark{
      i{
        vertical-align: 0px;
        
        background: none;
      }
      
    }
    .mark-score{
      padding-left: 10px;
      font-size: 14px;
      em{
        font-style: normal;
        color:@green;
      }
    }
    .mark-already{
      padding-left: 20px;
      display: none;
    }
    .marked{
      color:#ccc;
      .mark-already{
        display: inline;
      }
      .mark-score{
        color:#ccc;
      }
      i{
        color:#ccc;
      }
    }
  }
}
#add-article{
  background: #efefef;
  .left{
    width:680px;
    float:left;
    overflow: hidden;
  }
  .right{
    width:250px;
    margin-left: 10px;
    float:left;
    overflow: hidden;
    a{
      color:#6fb79b;
    }
      .item{
        border-bottom: 1px solid #eee;
        padding:5px 0;
      }
  }
  #title{
    width:630px;
  }
  .columns{
    .bd{
      padding-top:10px;
    }
    .label{
      margin-right: 5px;
      float:left;
      cursor: pointer;
    }
  }
}