#articles
{
  background: #efefef;
  .column{
    background: @green;
    color:#fff;
    padding:10px;
    border-radius: 3px;
    margin-bottom: 10px;
    .col-title{
      font-size: 16px;
      color:#fff;
    }
    .col-desc{
      color:#eee;
      font-size: 12px;
      margin-top: 5px;
    }
    .col-user{
      margin:10px 0;
      color:#eee;
      font-size: 12px;
    }
  }
  .column-list{
    border-radius:5px;
    margin-bottom: 20px;
    .hd{
      font-size: 14px;
      font-weight: bold;
    }
    .bd{
      margin-top: 20px;
    }
    .column-item{
      display: inline-block;
      border-radius: 3px;
      padding:12px 15px;
      margin-bottom: 10px;
      margin-right:5px;
      border:1px solid #eee;
      background: @green;
      vertical-align: top;
      width:151px;
      color:#fff;
      .title{
        font-size: 14px;
        font-weight: bold;
        color:#fff;
      }
      .user{
        color:#fff;
        line-height: 25px;
      }
      .others{
        color: #eee;
        font-size: 12px;
        line-height:20px;
        opacity: 0.8;
        margin-left: -2px;
        .item{
          margin-right: 10px;
          i{
            transform: scale(0.7);
            -webkit-transform: scale(0.7); /* for Chrome || Safari */

            -moz-transform: scale(0.7); /* for Firefox */

            -ms-transform: scale(0.7); /* for IE */

            -o-transform: scale(0.7); /* for Opera */
            vertical-align: -2px;
            padding-right: 2px;
          }
        }
        .key{
        }
      }
    }
    .other-column{
      display: inline-block;
    }
    .more-column,.create-column,.publish-column{
      padding:5px 10px;
      margin:0;
      margin-bottom: 2px;
      font-size: 12px;
      width:70px;
      margin-right: 5px;
      i{
        margin-right: 3px;
        margin-top: -1px;
      }
    }
    .column-item:hover{
      background: @blue;
    }
  }
  .article-list{
    margin:0;
    padding:0;
    .post{
    background: #fff;
    margin-bottom: 10px;
    padding:20px;
    border-radius:5px;
    .entry-title{
      border-bottom: 1px solid #eee;
      padding-bottom: 5px;
     
      .headpic{
        float: left;
        margin-right: 20px;
      }
      .title{
        margin:0;
        a{
          font-size:18px;
        line-height: 30px;
        margin:0;
        color: #111;
        font-weight: normal;
        }
         .t-user{
        display: inline-block;
        margin-right: 5px;
        vertical-align: -2px;
        background: #fff;
        box-shadow: 1px 1px 1px #ddd;
        width:20px;
        height:20px;
        img{
          display: block;
        }
      }
      }
      .tip{
      // position: absolute;
      right:0;
      top:0;
      width:40px;
      height:20px;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      background: @blue;
      color: #fff;
      z-index: 10;
      padding:3px 6px;
      font-weight: normal;
      font-size: 12px;
      vertical-align: 2px;
      margin-right: 5px;
    }
    .tip.new{
      background: #cb7a65;
    }
    .tip.hot{
      background: #f74360;
    }
    }
    .entry-content{
      padding:10px 0;
      word-break: break-all;
      color:#666;
      .main_pic{
          float:left;
          max-width:250px;
          max-height:250px;
          margin:10px;
          margin-left: 0;
        }
      h1,h2,h3,h4,h5{
        font-size:14px;
        line-height: 20px;
      }
      p{
        font-size:14px;
        line-height:20px;
        margin:10px 0;
      }
    }
    .entry-foot{
      line-height: 30px;
      .item{
        font-size: 12px;
        margin-right: 20px;
        .index{
          color:#bbb;
        }
        .value{
          color:#999;
        }
      }
    }
  }
  }
  
}

#add-article{
  background: #efefef;
  .columns{
    .bd{
      padding-top:10px;
    }
    .label{
      margin-right: 5px;
      float:left;
      cursor: pointer;
    }
  }
}