.comment{
    margin-top: 20px;
    margin-left: 0px;
    .publish{
      textarea{
        height:50px;
        margin-top: 10px;
      }
      .comment-submit{
      }

    }
    .comment-list{
        margin-top: 20px;
        border-bottom: 1px dotted #ddd;
        border-top: 1px dotted #ddd;
        .comment-item{
          border-bottom: 1px dotted #ddd;
          padding:10px 0;
          .headpic{
            float:left;
            img{
              width:40px;
            }
          }
          .comment-right{
            float:left;
            margin-left: 10px;
          }
          .author{
            padding-right: 5px;
          }
          .con{
            color:#666;
          }
          .time{
            color:#999;
          }
        }
      }
  }