#index{
  .timeline-item{
    margin-top: 20px;
    .user{
      .headpic{
        border-radius: 30px;
        height:50px;
        width:50px;
        display: block;
        border:3px solid #fff;
        box-shadow: 0px 0px 3px #aaa;
        img{
          border-radius: 30px;
          height:50px;
        width:50px;
        }
      }
      float:left;
      width:80px;
    }
    .infos{
      float:left;
      width:800px;
      .action{
        line-height: 50px;
        .time{
          padding-left: 10px;
          color:#999;
        }
      }
      .desc{
        background: #efefef;
        border-radius: 5px;
        padding:15px;
      }
    }
  }
}