.clearfix:after,.clearfix:before,.headerCon:before{display:table;content:"";overflow:hidden;}.headerCon:after,.clearfix:after{clear:both;}.headerCon,.clearfix{zoom:1;}
@green:#5bb793;
.hidden{
  display:none !important;
}
.loading-tip{
  position:fixed;
  top:0;
  height:20px;
  line-height:20px;
  padding:2px 5px;
  background:#f4e8ab;
  color:#333;
  display:none;
  z-index:10000;
  right:30px;
  box-shadow: 1px 1px 1px #ddd;
}
.message-tip{
  position:fixed;
  top:200px;
  left:45%;
  height:20px;

  line-height:20px;
  padding:2px 10px;
  border-radius: 15px;
  background:#f4e8ab;
  color:#333;
  border:1px solid #dac55f;
  opacity:0;
  z-index:10000;
  /*    box-shadow: 1px 1px 1px #999;*/
  -webkit-animation: zoomIn 400ms ease both;
  -webkit-backface-visibility: visible;
  -moz-animation: zoomIn 400ms ease both;
  -moz-backface-visibility: visible;
  -o-animation: zoomIn 400ms ease both;
  -o-backface-visibility: visible;
  animation: zoomIn 400ms ease both;
}
.message-tip.show{
  opacity:1;
  -webkit-animation: zoomOut 400ms ease both;
  -webkit-backface-visibility: visible;
  -moz-animation: zoomOut 400ms ease both;
  -moz-backface-visibility: visible;
  -o-animation: zoomOut 400ms ease both;
  -o-backface-visibility: visible;
  animation: zoomOut 400ms ease both;
}
.module{
    background:#fff;
    border-radius:5px;
    padding:15px 20px;
    margin-bottom:10px;
    
    .hd{line-height:30px;color:#333;font-size:18px;height:40px;font-weight:bold;color:#666;}
    .bd{font-size:12px;padding:10px;color:#666;}
  }
#content{
  width:940px;
  margin:20px auto;
  padding-top:50px;
  .btn{
    height:30px;
    border:none;
    border-radius: 3px;
        line-height: 30px;
        padding:0;
        background: #5bb793;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 3px;
        display: inline-block;
        color: #fff;
        line-height:30px;
  }
  .btn:hover{
    background: #30b380;

  }
}

#gotop{
  position:fixed;
  right:50px;
  bottom:20px;
  display:block;
  width:50px;
  height:50px;
  background:#aaa;
  color:#fff;
  line-height:50px;
  text-align: center;
  cursor:pointer;
}
.group{margin-bottom:10px;}
.group .label{margin:0 5px;}
.group .label.active{}
.pagination {margin-bottom:5px;margin-left:0;}
.table td{font-size:12px;height:18px;padding:0 20px;}
.search input{height:20px;}
.search button{height:25px;}
.cat-select .label{margin:2px 5px;cursor:pointer;}
.action a {padding:0 5px;}

#header{
  .navbar-inner{
    background: #5bb793;
    border:none;
    color:#fff;
    a{
      text-shadow:none;
      color:#fff;
    }
    .active a{
      color:#5bb793;
      background: #fff;
    }
  }
  .right-nav{
    float:right;
    
    margin:0;
    li{
      list-style: none;
      line-height:40px;
      margin-left:10px;
      float:left;
      a{
        
      }
      
    }
  }
}
#footer{
  .wrapper{
    width:940px;
    margin:30px auto;
  }
  .module{
    .bd{
      padding:0;
    }
  }
  ul{
    margin:0;
  }
  .links{
    li{
    float:left;
    margin-right:20px;
    list-style:none;
    }
  }
}
.f2er-list li{
  position:relative;
  .renling{
    position:absolute;
    right:10px;
    top:10px;

  }
}

#layer{
  width:100%;
  height:100%;
  opacity:0.7;
  background:#333;
  position:absolute;
  top:0;
  left:0;
  z-index:10000;
}
#login_popup{
  position:relative;
  margin:100px auto;
  width:400px;
  height:160px;
  background:#fff;
  border-radius:5px;
  text-align:center;
  padding-top:10px;
  z-index:10001;
  span{
    display:block;
    line-height:30px;
    text-align:center;
    font-size:18px;
    color:#333;
    line-height:30px;
    margin-top:20px;
  }
  .icon{
    background:url(../images/login.png) no-repeat center center;
    width:100%;
    height:90px;
    display:block;
  }
  div{
    margin-top:30px;
    color:#666;
  }
}

.fb-like{padding-left:20px;}


#me{
  background:#efefef;
  .left{
    float:left;
    width:600px;
  }
  .right{
    float:left;
    width:340px;
  }
  .article-list{
    width:100%;
    overflow: hidden;
  }
  .my_card{
    width:560px;
    background:#fff;
    border-radius:5px;
    padding:10px 20px;
    margin-bottom:10px;
    .edit{
      float:right;
      font-size:12px;
    }
    .hd{line-height:50px;color:#333;font-size:16px;}
    .bd{}
    .item{
      margin-bottom:15px;
      .key{
        float:left;
        width:90px;
        color:#999;
      }
      .value{float:left;color:#404040;width:360px;}
    }
  }
  .card-article{
    .title{
      line-height:30px;
      margin-top:20px;
    }
  }
  .module{

    margin-left:10px;
    background:#fff;
    border-radius:5px;
    padding:15px 20px;
    margin-bottom:10px;
    
    .hd{line-height:25px;color:#333;font-size:16px;height:30px;}
  }
  .count{
    .visitor{
      float:left;
      margin-right:5px;
      margin-bottom:5px;
      img{
        width:30px;
        height:30px;
      }
    }
  }
  .talk{}
  .setting{

    margin-left:10px;
    background:#fff;
    border-radius:5px;
    padding:10px 20px;
    
    .hd{line-height:50px;color:#333;font-size:16px;}
    .bd{}
    .item{
      margin-bottom:15px;
      .key{
        float:left;
        width:90px;
        color:#999;
      }
      .value{float:left;color:#404040;width:300px;}
      a {
        display:inline-block;
        width:40px;
        text-align: center;
        border:2px solid  #5bb793;
        background: #ddd;
        color:#aaa;
        height:18px;
        line-height: 18px;
        cursor:pointer;
      }
      a.active{
        background: #5bb793;
        color:#fff;
      }
    }
  }
  .bao{
    .publish-text{
      padding:10px 0;
      vertical-align: top;

      button{
        vertical-align: top;
      }
      
      textarea{
        width:270px;
      }
      .publish-inner{
        display: none;
        height:0px;
      overflow: hidden;
      }
    }
    .publish_pic{
      width:280px;
      margin-bottom: 10px;
    }
    .act_pic{
    position: relative;
    overflow: hidden;

      input{
        position: absolute;
        left:0;
        top:0;
        width:50px;
        opacity: 0;
      }
    }

    .bao-item {
      padding: 5px 0;
      border-bottom:1px solid #ddd;
      font-size: 12px;
      .bao-content{
        line-height: 20px;
        span{color:#aaa;padding-left: 10px;}
      }
      .bao-action{
        a{
          font-size: 12px;
          margin-right: 10px;
        }
      }
      .bao_comment{
        padding-left: 0px;
        padding-top: 10px;
        height:0px;
        overflow: hidden;
        textarea{
          width:240px;
        }
      }
      .bao_comment_item{
        padding-left: 0px;
        padding-top: 3px;
        
        textarea{
          width:240px;
        }
        span{color:#aaa;padding-left: 10px;}
      }
    }
  }

}

#cards{
  background:#efefef;
  .head_pic{
    float:left
  }
  .search{
  margin-bottom:5px;
}
.f2er-list{
  padding: 0;
  margin:0;
  width:1000px;
}
.f2er-list{
  .sns{
    margin-left: 10px;
    a{padding-left:5px;}
    .blog{
      background: url(http://htmljs.b0.upaiyun.com/images/icon-blog.png) no-repeat center center;
      height: 15px;
      width:15px;
      display: inline-block;
      text-indent: -1000px;
      overflow: hidden;
    }
    .github{
      background: url(http://htmljs.b0.upaiyun.com/images/github.png) no-repeat center center;
      height: 15px;
      width:15px;
      display: inline-block;
      text-indent: -1000px;
      overflow: hidden;
    }
    .weibo{
      background: url(http://htmljs.b0.upaiyun.com/images/icon-weibo.png?d) no-repeat center center;
      height: 15px;
      width:15px;
      display: inline-block;
      text-indent: -1000px;
      overflow: hidden;
    }
  }
}
.f2er-list li{
  width:360px;
  background:#fff;
  border-radius: 5px;
  list-style: none;
  margin:0;
  display:inline-block;
  vertical-align: top;
  margin-top:10px;
  padding:15px;
  font-size:12px;
  color:#666;
  margin-right:10px;
  box-shadow: 1px 1px 2px #ddd;
}
.f2er-list li a{
  word-wrap: normal;
  word-break: break-all;
}
.f2er-list li .key{color:#aaa;margin-left:10px;}
.f2er-list li {
  .shanchang{
  .key{
float:left;
  }
  .value{
  float:left;
  width:260px;
  }
  }
}
.f2er-list li .more{margin-left:10px;}
  .main{
    width:1000px;
  }
  .infos{
    float:left;
width:310px;
  }
  .left{
    float:left;
    width:780px;
  }
  .right{
    float:left;
    width:200px;
    margin-left:20px;
    padding-top: 65px;
    .module{

    margin-left:10px;
    background:#fff;
    border-radius:5px;
    padding:15px 20px;
    margin-bottom:10px;
    
    .hd{line-height:30px;color:#333;font-size:18px;height:40px;font-weight:bold;color:#666;}
    .bd{font-size:12px;padding:10px;color:#666;}
  }
  }
}
#card,#me{
  #bdshare{
    float:none;
  }
}
#card,#me{
  .bao{
    .actions{
      a{
        margin-right:20px;
      }
    }
  }
}
#article
{
  background: #efefef;
  .post{
    .entry-title{
      .headpic{
        float: left;
        margin-right: 20px;
        margin-top:10px;
      }
      .title{
        font-size:16px;
        line-height: 30px;
        margin:0;
        color: #404040;
        font-weight: normal;
      }
      .item{
        font-size: 12px;
        margin-right: 20px;
        .index{
          color:#aaa;
        }
        .value{
          color:#888;
        }
      }
    }
    .entry-content{
      color:#404040;
      padding:20px 0;
      h1,h2,h3,h4,h5{
        font-size:1.5em;
      }
      word-wrap: break-word; 
      word-break:break-all;
      p{
        font-size:14px;
        line-height:20px;
        margin:20px 0;
      }
      img{
        display: block;

      }
    }
  }
}
#article{
  article{
    background: #fff;
    border-radius: 5px;
    padding:20px;
  }

}

#reads,#read{

  .left{
    float:left;
    width:100%;
    .actions{
    background: #fff;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 3px;
    .cat{
      margin:0 10px;
    }
    .cat.active{
      color:#aaa;
    }
      .publish{
        height:30px;
        line-height: 30px;
        background: #5bb793 url(../images/button+.png) no-repeat 0 -1px;
        padding-left: 30px;
        padding-right: 10px;
        border-radius: 3px;
        display: inline-block;
        color: #fff;
        margin-left:10px;
      }
      .publish:hover{
          background-color: #35b382; 
      }
    }
  }
  background: #efefef;
  .article-list{
    margin:0;
    padding:0;
  }
    .post{
    background: #fff;
    margin-bottom: 10px;
    padding:10px;
    border-radius:3px;
    .entry-title{
      height:35px;

      .headpic{
        float: left;
        margin-right: 20px;
      }
      .title{
        font-size:12px;
        line-height: 18px;
        margin:0;
        color: #404040;
        font-weight: normal;
      }
      .item{
        font-size: 12px;
        margin-right: 20px;
        .index{
          color:#aaa;
        }
        .value{
          color:#888;
        }
      }
    }
    .entry-content{
      padding:20px 0;
      color:#404040;
      h1,h2,h3,h4,h5{
        font-size:1.5em;
      }
      p{
        font-size:14px;
        line-height:20px;
        margin:10px 0;
      }
    }
  }
    

}
#read{
  article.post{
    background: #fff;
    border-radius: 5px;
    padding:20px;
    .entry-title{
      height:70px;

      .headpic{
        float: left;
        margin-right: 20px;
      }
      .title{
        font-size:18px;
        line-height: 30px;
        margin:0;
        color: #404040;
        font-weight: normal;
      }
      .item{
        font-size: 12px;
        margin-right: 20px;
        .index{
          color:#aaa;
        }
        .value{
          color:#888;
        }
      }
    }
  }

}
#articles,#article{

  .left{
    float:left;
    width:680px;
    .new_warning{
    margin-left:0;
    width:640px;

    }
    .actions{
    background: #fff;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 3px;
      .publish{
        height:30px;
        line-height: 30px;
        background: #5bb793 url(../images/button+.png) no-repeat 0 -1px;
        padding-left: 30px;
        padding-right: 10px;
        border-radius: 3px;
        display: inline-block;
        color: #fff;
        margin-right:10px;
      }
      .publish:hover{
          background-color: #35b382; 
      }
    }
    .title{
      a{
overflow: hidden;
height: 30px;
display: block;
      }
      }
    .cats{
      background: #fff;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 3px;
    a{
      border-right:1px solid #ddd;
      padding:0 10px;
      font-size:16px;
      color:#999;
    }
    a.active{
      color:#333;
    }
    }
  }
  .right{
    float:left;
    width:250px;
    margin-left: 10px;
  }
  .module{
    width:100%;
    margin-left:10px;
    background:#fff;
    border-radius:5px;
    padding:15px 20px;
    margin-bottom:10px;
    
    .hd{line-height:30px;color:#333;font-size:18px;height:40px;font-weight:bold;color:#666;}
    .bd{font-size:12px;padding:10px;color:#666;}
  }

}
#articles,#me
{
  background: #efefef;
  .article-list{
    margin:0;
    padding:0;
    .post{
    background: #fff;
    margin-bottom: 30px;
    padding:20px;
    border-radius:5px;
    .entry-title{
      height:50px;

      .headpic{
        float: left;
        margin-right: 20px;
      }
      .title{
        font-size:16px;
        line-height: 30px;
        margin:0;
        color: #404040;
        font-weight: normal;
      }
      .item{
        font-size: 12px;
        margin-right: 20px;
        .index{
          color:#aaa;
        }
        .value{
          color:#888;
        }
      }
    }
    .entry-content{
      padding:20px 0;
      color:#404040;
      h1,h2,h3,h4,h5{
        font-size:1.5em;
      }
      p{
        font-size:14px;
        line-height:20px;
        margin:10px 0;
      }
    }
  }
  }
  
}

#act{
  background: #efefef;
  .module{
    border-radius: 3px;
  }
  #main_banner{
    width:100%;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    img{
     border-radius: 3px; 
    }
    .main_pic{
      width:700px;
      float:left;
    }
    .infos{
      width:200px;
      float:left;
      font-size: 14px;
      padding:20px;
      background: #eee;
      height:200px;
      color:#404040;
      .inner{
        margin-top: 30px;
      }
      .share{
        float:left !important;
        margin:0 !important;
        width:150px !important;
      }
      .item{
        line-height: 30px;
        .key{
          color:#666;
          float:left;
        }
        .value{
          color:#333;
        }
      }
    }
  }
  #joiners{
    margin-top:20px;
    .bd{
      padding:0;
      a{
        margin-right:10px;
        img{
          width:30px;
          height:30px;
        }
      }
      .me-join{
        margin-top:20px;
        .alert{
          margin:0;
          margin-top:20px;
        }
      }
    }
  }
  #supporters{
    margin-top:20px;
    .bd{
      padding:0;
      a{
        margin-right:10px;
        img{
          height:50px;
          border:1px solid #ddd;
        }
      }
      .me-join{
        margin-top:20px;
        .label{
          
        }
      }
    }
  }
  #speaker{
    .bd{
      padding:10px 0;
    }
    .head_pic{
      float:left;
    }
    .infos{
      float:left;
      margin-left:20px;
      width:700px;
      .who{
        font-size:14px;
        margin:0;
        line-height: 25px;
        .btn{
          margin-left:10px;
          height:25px;
          line-height: 20px;
        }
        em{
          font-weight: bold;
          font-style: normal;
          font-size:16px;
        }
      }
      .topic{
        font-size:14px;
        margin:10px 0;
        em{
          font-weight: bold;
          color:#c54d1a;
          font-style: normal;
          font-size:16px;
        }
      }
    }
  }
}
#acts{
  background: #f1f1f1;
  .no-act{

  }
  .act-item{
    background: #fff;
    border-radius: 3px;
    .act-pic{
      width:698px;
      float:left;
    }
    .act-infos{
      width:200px;
      float:left;
      font-size: 14px;
      padding:20px;
      background: @green;
      height:200px;
      color:#fff;
      p{
        line-height:20px;
        margin-bottom: 5px;
        font-size: 14px;
        a{
          color:#fff;
          text-decoration: none;
        }
      }
      .act-time{
        color:#ddd;
         font-size: 12px;
      }
      .act-location{
        color:#ddd;
        font-size: 12px;
      }
    }
  }
}