.clearfix:after,.clearfix:before,.headerCon:before{display:table;content:"";overflow:hidden;}
.headerCon:after,.clearfix:after{clear:both;}
.headerCon,.clearfix{zoom:1;}
.hidden{display:none !important;}
.new-function{position:relative;}
.new-function-label{position:absolute;right:-20px;top:-25px;box-shadow:1px 1px 5px #d9534f;}.new-function-label i{position:absolute;left:5px;bottom:-16px;width:0;height:0;border:5px solid;border-width:10px 5px;border-color:#d9534f rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);}
@-webkit-keyframes zoomOut{0%{opacity:0;-webkit-transform:scale(0.6);} 100%{opacity:1;-webkit-transform:scale(1);}}@-webkit-keyframes zoomIn{0%{opacity:1;-webkit-transform:scale(0.6);} 100%{opacity:0;-webkit-transform:scale(0);}}@-moz-keyframes zoomOut{0%{opacity:0;-moz-transform:scale(0.6);} 100%{opacity:1;-moz-transform:scale(1);}}@-o-keyframes zoomOut{0%{opacity:0;-o-transform:scale(0.6);} 100%{opacity:1;-o-transform:scale(1);}}@keyframes zoomOut{0%{opacity:0;transform:scale(0.6);} 100%{opacity:1;transform:scale(1);}}.loading-tip{position:fixed;top:0;height:20px;line-height:20px;padding:2px 5px;background:#f4e8ab;color:#333;display:none;z-index:10000;right:30px;box-shadow:1px 1px 1px #ddd;}
.message-tip{position:fixed;top:200px;left:45%;height:20px;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;line-height:20px;padding:2px 10px;border-radius:15px;background:#f4e8ab;color:#333;border:1px solid #dac55f;opacity:0;z-index:10000;-webkit-animation:zoomIn 400ms ease both;-webkit-backface-visibility:visible;-moz-animation:zoomIn 400ms ease both;-moz-backface-visibility:visible;-o-animation:zoomIn 400ms ease both;-o-backface-visibility:visible;animation:zoomIn 400ms ease both;}
.message-tip.show{opacity:1;-webkit-animation:zoomOut 200ms ease both;-webkit-backface-visibility:visible;-moz-animation:zoomOut 200ms ease both;-moz-backface-visibility:visible;-o-animation:zoomOut 200ms ease both;-o-backface-visibility:visible;animation:zoomOut 200ms ease both;}
.user{position:relative;}.user .sex{position:absolute;bottom:0;right:0;width:30%;height:30%;display:block;overflow:hidden;line-height:0;font-size:0px;}
.user .sex.nan{background:rgba(255, 255, 255, 0.9) url(../images/nan.png) no-repeat center center;background-size:80% 80%;}
.user .sex.nv{background:rgba(255, 255, 255, 0.9) url(../images/nv.png) no-repeat center center;background-size:80% 80%;}
.module{background:#fff;border-radius:5px;padding:15px 20px;margin-bottom:10px;}.module .hd .right_more{font-size:12px;float:right;padding-right:10px;}
.module .hd{line-height:30px;color:#333;font-size:16px;height:30px;font-weight:bold;color:#666;}
.module .bd{font-size:12px;padding:0px;color:#666;}
#content{width:940px;margin:20px auto;}#content .btn{height:27px;border:none;line-height:30px;padding:0;background:#5bb793;padding-left:10px;padding-right:10px;display:inline-block;color:#fff;line-height:27px;}
#content .btn:hover{background:#30b380;}
#content .btn.blue{background:#68a4d1;}
#gotop{position:fixed;right:50px;bottom:20px;display:block;width:50px;height:50px;background:#aaa;color:#fff;line-height:50px;text-align:center;cursor:pointer;}
.group{margin-bottom:10px;}
.group .label{margin:0 5px;}
.pagination{margin-bottom:5px;margin-left:0;}.pagination ul{display:inline-block;}
.pagination .total{font-size:14px;display:inline-block;margin-left:10px;vertical-align:top;line-height:23px;}
.table td{font-size:12px;height:18px;padding:0 20px;}
.search input{height:17px;}
.search button{height:25px;}
.cat-select .label{margin:2px 5px;cursor:pointer;}
.action a{padding:0 5px;}
#header .navbar-inner{height:30px;min-height:30px;background:#5bb793;border:none;color:#fff;line-height:30px;}#header .navbar-inner a{text-shadow:none;color:#fff;line-height:30px;padding-top:0;font-size:13px;padding-bottom:0;}
#header .navbar-inner .active a{color:#5bb793;background:#fff;}
#header .right-nav{float:right;margin:0;}#header .right-nav li{list-style:none;line-height:30px;margin-left:10px;float:left;}#header .right-nav li a{display:block;}
#header .right-nav li .unread{display:inline-block;height:15px;padding:0 5px;background:#ef5e5e;color:#fff;border-radius:20px;font-size:12px;line-height:15px;text-align:center;font-style:normal;font-weight:normal;margin:0 5px;vertical-align:2px;}
#footer .wrapper{width:940px;margin:30px auto;}#footer .wrapper .module{margin-left:0;}#footer .wrapper .module .bd{padding:0;}
#footer ul{margin:0;}
#footer .links li{float:left;margin-right:20px;list-style:none;}
.f2er-list li{position:relative;}.f2er-list li .renling{position:absolute;right:10px;top:25px;}
#layer{width:100%;height:100%;opacity:0.7;background:#333;position:absolute;top:0;left:0;z-index:10000;}
.login_iframe{position:fixed;top:100px;width:600px;height:430px;display:block;border:5px solid #5bb793;box-shadow:0 0 5px #5bb793;z-index:10001;background:#efefef;}
.login_layer{position:absolute;left:0;top:0;background:#111;opacity:0.7;z-index:10000;}
.login_popup{position:relative;width:600px;height:160px;background:#fff;border-radius:5px;text-align:center;padding-top:10px;z-index:10001;}.login_popup span{display:block;text-align:center;font-size:18px;color:#333;line-height:30px;margin-top:20px;}
.login_popup .icon{background:url(../images/login.png) no-repeat center center;width:100%;height:90px;display:block;}
.login_popup div{margin-top:30px;color:#666;}
#login_popup{margin:100px auto;}
.fb-like{padding-left:20px;}
#me{background:#efefef;}#me .left{float:left;width:600px;}
#me .right{float:left;width:320px;margin-left:20px;}
#me .article-list{width:100%;overflow:hidden;}
#me .my_card{position:relative;width:560px;background:#fff;border-radius:5px;padding:10px 20px;margin-bottom:10px;}#me .my_card .edit{float:right;font-size:12px;}
#me .my_card .hd{line-height:50px;color:#333;font-size:16px;}
#me .my_card .item{margin-bottom:15px;}#me .my_card .item .key{float:left;width:90px;color:#999;}
#me .my_card .item .value{float:left;color:#404040;width:360px;}
#me .card-article .title{line-height:30px;margin-top:20px;}
#me .count .visitor{float:left;margin-right:5px;margin-bottom:5px;}#me .count .visitor img{width:30px;height:30px;}
#me .talk{margin-left:0;}
#me .setting{margin-left:10px;background:#fff;border-radius:5px;padding:10px 20px;}#me .setting .hd{line-height:50px;color:#333;font-size:16px;}
#me .setting .item{margin-bottom:15px;}#me .setting .item .key{float:left;width:90px;color:#999;}
#me .setting .item .value{float:left;color:#404040;width:300px;}
#me .setting .item a{display:inline-block;width:40px;text-align:center;border:2px solid #5bb793;background:#ddd;color:#aaa;height:18px;line-height:18px;cursor:pointer;}
#me .setting .item a.active{background:#5bb793;color:#fff;}
#me .bao .publish-text{padding:10px 0;vertical-align:top;}#me .bao .publish-text button{vertical-align:top;}
#me .bao .publish-text textarea{width:270px;}
#me .bao .publish-text .publish-inner{display:none;height:0px;overflow:hidden;}
#me .bao .publish_pic{width:280px;margin-bottom:10px;}
#me .bao .act_pic{position:relative;overflow:hidden;}#me .bao .act_pic input{position:absolute;left:0;top:0;width:50px;opacity:0;}
#me .bao .bao-item{padding:5px 0;border-bottom:1px solid #ddd;font-size:12px;}#me .bao .bao-item .bao-content{line-height:20px;}#me .bao .bao-item .bao-content span{color:#aaa;padding-left:10px;}
#me .bao .bao-item .bao-action a{font-size:12px;margin-right:10px;}
#me .bao .bao-item .bao_comment{padding-left:0px;padding-top:10px;height:0px;overflow:hidden;}#me .bao .bao-item .bao_comment textarea{width:240px;}
#me .bao .bao-item .bao_comment_item{padding-left:0px;padding-top:3px;}#me .bao .bao-item .bao_comment_item textarea{width:240px;}
#me .bao .bao-item .bao_comment_item span{color:#aaa;padding-left:10px;}
#cards{background:#efefef;}#cards .head_pic{float:left;}
#cards .search{margin-bottom:5px;}
#cards .f2er-list{padding:0;margin:0;width:1000px;}
#cards .f2er-list .sns{margin-left:10px;}#cards .f2er-list .sns a{padding-left:5px;}
#cards .f2er-list .sns .blog{background:url(http://htmljs.b0.upaiyun.com/images/icon-blog.png) no-repeat center center;height:15px;width:15px;display:inline-block;text-indent:-1000px;overflow:hidden;}
#cards .f2er-list .sns .github{background:url(http://htmljs.b0.upaiyun.com/images/github.png) no-repeat center center;height:15px;width:15px;display:inline-block;text-indent:-1000px;overflow:hidden;}
#cards .f2er-list .sns .weibo{background:url(http://htmljs.b0.upaiyun.com/images/icon-weibo.png?d) no-repeat center center;height:15px;width:15px;display:inline-block;text-indent:-1000px;overflow:hidden;}
#cards .f2er-list li{width:360px;background:#fff;border-radius:5px;list-style:none;margin:0;display:inline-block;vertical-align:top;margin-top:10px;padding:15px;font-size:12px;color:#666;margin-right:10px;box-shadow:1px 1px 2px #ddd;position:relative;}
#cards .f2er-list li a{word-wrap:normal;word-break:break-all;}
#cards .f2er-list li .key{color:#aaa;margin-left:10px;}
#cards .f2er-list li .shanchang .key{float:left;}
#cards .f2er-list li .shanchang .value{float:left;width:260px;}
#cards .f2er-list li .more{margin-left:10px;}
#cards .main{width:1000px;}
#cards .infos{float:left;width:310px;}
#cards .left{float:left;width:780px;}
#cards .right{float:left;width:200px;margin-left:20px;padding-top:10px;}#cards .right .module{margin-left:10px;background:#fff;border-radius:5px;padding:20px;margin-bottom:10px;}#cards .right .module .item{border-bottom:1px solid #eee;padding:5px 0;}#cards .right .module .item a{color:#6fb79b;}
#card #bdshare,#me #bdshare{float:none;}
#cards .count-infos,#me .count-infos{position:absolute;top:10px;right:10px;line-height:17px;}#cards .count-infos a,#me .count-infos a{color:#999;cursor:pointer;}
#cards .count-infos .icon,#me .count-infos .icon{vertical-align:top;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
#cards .count-infos .icon:hover,#me .count-infos .icon:hover{-webkit-transform:scale(1.2, 1.2);transform:scale(1.2, 1.2);}
#cards .count-infos .icon:hover+em,#me .count-infos .icon:hover+em{-webkit-transform:scale(1.2, 1.2);transform:scale(1.2, 1.2);}
#cards .count-infos em,#me .count-infos em{font-style:normal;padding:0 5px;}
#cards .count-infos span,#me .count-infos span{padding:0 5px;}
#card .bao .actions a,#me .bao .actions a{margin-right:20px;}
#article article{background:#fff;border-radius:5px;padding:20px;}
#read{background:#efefef;}#read #content{margin-top:20px;padding-top:0;width:700px;}#read #content h1{font-size:18px;}
#read #content h2{font-size:16px;}
#read #content h3{font-size:14px;}
#read header{width:900px;margin:0 auto;position:relative;}#read header .logo{color:#bc7311;margin-top:20px;display:block;}
#read .actions{float:left;position:absolute;top:30px;left:180px;padding:10px;margin-bottom:10px;border-radius:3px;width:700px;}#read .actions a{color:#aaa;font-size:16px;padding-right:10px;}
#read .actions a.active,#read .actions a:hover{color:#b2571a;}
#read .actions a.tool{float:right;width:60px;height:60px;font-size:12px;text-align:center;border-radius:120px;border:3px solid #b2571a;color:#666;cursor:pointer;padding:0;margin-top:-30px;line-height:60px;}
#read .actions .publish{height:30px;line-height:30px;background:#5bb793 url(../images/button+.png) no-repeat 0 -1px;padding-left:30px;padding-right:10px;border-radius:3px;display:inline-block;color:#fff;margin-left:10px;}
#read .actions .publish:hover{background-color:#35b382;}
#articles .left,#article .left{float:left;width:680px;}#articles .left .infos,#article .left .infos{margin-left:0;}
#articles .left .new_warning,#article .left .new_warning{margin-left:0;width:640px;}
#articles .left .title a,#article .left .title a{overflow:hidden;height:30px;}
#articles .left .cats,#article .left .cats{background:#fff;padding:10px;margin-bottom:10px;border-radius:3px;}#articles .left .cats a,#article .left .cats a{border-right:1px solid #ddd;padding:0 10px;font-size:16px;color:#999;}
#articles .left .cats a.active,#article .left .cats a.active{color:#333;}
#articles .right,#article .right{float:left;width:250px;margin-left:10px;}#articles .right .actions,#article .right .actions{background:#fff;padding:10px;margin-bottom:10px;border-radius:3px;}#articles .right .actions .publish,#article .right .actions .publish{height:30px;line-height:30px;background:#5bb793 url(../images/button+.png) no-repeat 0 -1px;padding-left:30px;padding-right:10px;border-radius:3px;display:inline-block;color:#fff;margin-right:10px;}
#articles .right .actions .publish:hover,#article .right .actions .publish:hover{background-color:#35b382;}
#articles .right .item,#article .right .item{border-bottom:1px solid #eee;padding:5px 0;}#articles .right .item a,#article .right .item a{color:#6fb79b;}
#act{background:#efefef;}#act .module{border-radius:3px;}
#act #main_banner{width:100%;background:#fff;border-radius:3px;overflow:hidden;}#act #main_banner .title{font-size:20px;color:#5bb793;line-height:40px;font-weight:bold;}
#act #main_banner .infos{font-size:12px;padding:20px;background:#fff;color:#404040;}#act #main_banner .infos .share{float:left !important;margin:0 !important;width:150px !important;}
#act #main_banner .infos .item{line-height:30px;}#act #main_banner .infos .item .key{color:#666;float:left;}
#act #main_banner .infos .item .value{color:#333;}
#act #act_desc{margin-top:20px;}#act #act_desc h1{font-size:16px;}
#act #joiners{margin-top:20px;}#act #joiners .bd{padding:0;}#act #joiners .bd a{margin-right:10px;display:inline-block;}#act #joiners .bd a img{width:30px;height:30px;}
#act #joiners .bd .me-join{margin-top:20px;}#act #joiners .bd .me-join .alert{margin:0;margin-top:20px;}
#act #supporters{margin-top:20px;}#act #supporters .bd{padding:0;}#act #supporters .bd a{margin-right:10px;}#act #supporters .bd a img{height:50px;border:1px solid #ddd;}
#act #supporters .bd .me-join{margin-top:20px;}
#act #speaker .bd{padding:10px 0;}
#act #speaker .head_pic{float:left;}
#act #speaker .infos{float:left;margin-left:20px;width:700px;}#act #speaker .infos .who{font-size:14px;margin:0;line-height:25px;}#act #speaker .infos .who .btn{margin-left:10px;height:25px;line-height:20px;}
#act #speaker .infos .who em{font-weight:bold;font-style:normal;font-size:16px;}
#act #speaker .infos .topic{font-size:14px;margin:10px 0;}#act #speaker .infos .topic em{font-weight:bold;color:#c54d1a;font-style:normal;font-size:16px;}
#acts{background:#efefef;}#acts #content{width:700px;margin:30px auto;}
#acts .act-item{background:#fff;border-radius:3px;margin-bottom:20px;}#acts .act-item .act-infos{font-size:14px;padding:20px;background:#5bb793;color:#fff;}#acts .act-item .act-infos .ln{line-height:20px;margin-bottom:5px;font-size:14px;}#acts .act-item .act-infos .ln a{color:#fff;text-decoration:none;}
#acts .act-item .act-infos .act-title{font-size:20px;line-height:30px;}
#acts .act-item .act-infos .act-time{color:#dedede;font-size:12px;}
#acts .act-item .act-infos .act-location{color:#dedede;font-size:12px;}
#acts .act-item .act-infos .act-limit{color:#dedede;font-size:12px;}
#acts .act-item .act-infos .act-action{margin-top:20px;}#acts .act-item .act-infos .act-action a{font-weight:bold;}
#acts .act-item .act-infos .act-action .btn{background:#eee;color:#5bb793;box-shadow:1px 1px 2px #999;}
#acts .act-item .act-infos .act-action .btn:hover{background:#fff;}
#acts .act-item.isdown .act-infos{background:#73b79c;}#acts .act-item.isdown .act-infos .act-action .btn{background:#aaa;color:#eee;}
#books{background:#efefef;}#books ul,#books li{list-style:none;padding:0;margin:0;}
#books .alert{margin:10px 0;padding:10px;}#books .alert em{color:#999;}
#books #bdshare{margin:0 !important;}
#books .mybooks{padding:0px;background:none;}#books .mybooks .show_control{font-size:12px;float:right;line-height:30px;}
#books .mybooks .bd{padding:0;width:750px;}
#books .mybooks li{width:205px;padding:10px;background:#fff;border-radius:5px;margin-right:10px;margin-bottom:20px;line-height:20px;display:inline-block;*float:left;vertical-align:top;}#books .mybooks li .pic{display:block;margin:0 auto;width:70px;float:left;}
#books .mybooks li .infos{width:110px;float:left;margin-left:10px;color:#404040;font-size:12px;}#books .mybooks li .infos .action a{padding:0;}
#books .fix-ad{padding:10px;}#books .fix-ad .bd{padding:0;}
#books .fix-ad .item{float:left;margin-top:10px;}
#books .left{width:700px;float:left;}
#books .right{width:220px;float:left;margin-left:20px;}
#books .book-list{width:750px;padding:0px;background:none;}#books .book-list .bd{padding:0;width:750px;}
#books .book-list .item{width:205px;padding:10px;background:#fff;border-radius:5px;margin-right:10px;margin-bottom:20px;line-height:20px;display:inline-block;*float:left;vertical-align:top;}#books .book-list .item .pic{display:block;margin:0 auto;width:70px;float:left;}
#books .book-list .item .infos{width:125px;float:left;margin-left:10px;color:#404040;font-size:12px;}#books .book-list .item .infos .action .btn{line-height:18px;padding:3px 5px;height:18px;font-size:12px;}
#books .book-list .item .infos .action a{padding:0;}
.comment{margin-top:20px;margin-left:0px;font-size:12px;}.comment .publish textarea{height:50px;margin-top:10px;}
.comment .comment-list{margin-top:20px;border-bottom:1px dotted #ddd;border-top:1px dotted #ddd;}.comment .comment-list .comment-item{border-bottom:1px dotted #ddd;padding:10px 0;}.comment .comment-list .comment-item .headpic{float:left;}.comment .comment-list .comment-item .headpic img{width:40px;}
.comment .comment-list .comment-item .comment-right{float:left;margin-left:10px;}
.comment .comment-list .comment-item .author{padding-right:5px;}
.comment .comment-list .comment-item .con{color:#666;word-break:break-all;}.comment .comment-list .comment-item .con p{margin:0;}
.comment .comment-list .comment-item .time{color:#999;}
.comment .comment-list .comment-item .reply{display:none;margin-left:10px;cursor:pointer;}
.comment .comment-list .comment-item:hover .reply{display:inline;}
.comment-layer{position:fixed;bottom:0;background:#aaa;height:40px;z-index:1000;line-height:40px;padding:0 10px;box-shadow:0px 0px 2px #999;width:580px;}.comment-layer .icon-comment{margin-right:5px;}
.comment-layer .input{cursor:pointer;margin-left:10px;background:#f3f3f3;line-height:30px;border-radius:3px;height:30px;padding:0 10px;box-shadow:inset 1px 1px 1px #aaa;width:520px;display:inline-block;}
#article .comment-layer{width:660px;}#article .comment-layer .input{width:600px;}
#article .comment .comment-list .comment-item .con{width:580px;word-break:break-all;}
#read .comment-layer{width:680px;}#read .comment-layer .input{width:620px;}
#me .comment .comment-list .comment-item .con{width:500px;word-break:break-all;}
#q_comment_list .comment-item .con{width:540px;word-break:break-all;}
#index{background:#efefef;}#index #content{width:940px;}
#index .left{width:650px;float:left;overflow:hidden;}
#index .right{width:270px;margin-left:20px;float:left;overflow:hidden;}
#index .timeline-item{margin-top:20px;font-size:13px;}#index .timeline-item .user{float:left;width:50px;}#index .timeline-item .user .headpic{border-radius:30px;height:30px;width:30px;display:block;border:2px solid #fff;box-shadow:0px 0px 3px #aaa;}#index .timeline-item .user .headpic img{border-radius:30px;height:30px;width:30px;}
#index .timeline-item .infos{float:left;width:550px;}#index .timeline-item .infos .action{line-height:30px;height:30px;overflow:hidden;color:#999;}#index .timeline-item .infos .action .time{padding-left:10px;color:#aaa;}
#index .timeline-item .infos .desc{background:#f7f7f7;border-radius:5px;padding:15px;font-size:12px;color:#888;}#index .timeline-item .infos .desc h1,#index .timeline-item .infos .desc h2,#index .timeline-item .infos .desc h3,#index .timeline-item .infos .desc h4{font-size:13px;line-height:30px;margin:5px 0;}
#index .timeline-item .infos .desc .main_pic{float:left;max-width:250px;max-height:250px;margin-right:20px;margin-bottom:20px;}
#index .timeline-item .infos .desc .card{position:relative;background:#fff;border-radius:5px;list-style:none;margin:0;padding:15px;font-size:12px;color:#666;box-shadow:2px 2px 2px #ddd;}#index .timeline-item .infos .desc .card .head_pic{float:left;width:80px;}#index .timeline-item .infos .desc .card .head_pic img{width:60px;height:60px;}
#index .timeline-item .infos .desc .card .car-infos{float:left;width:400px;}
#index .timeline-item .infos .desc .card .renling{position:absolute;right:10px;top:25px;}
#index .timeline-item .infos .desc .card .sns{margin-left:10px;}#index .timeline-item .infos .desc .card .sns a{padding-left:5px;}
#index .timeline-item .infos .desc .card .sns .blog{background:url(http://htmljs.b0.upaiyun.com/images/icon-blog.png) no-repeat center center;height:15px;width:15px;display:inline-block;text-indent:-1000px;overflow:hidden;}
#index .timeline-item .infos .desc .card .sns .github{background:url(http://htmljs.b0.upaiyun.com/images/github.png) no-repeat center center;height:15px;width:15px;display:inline-block;text-indent:-1000px;overflow:hidden;}
#index .timeline-item .infos .desc .card .sns .weibo{background:url(http://htmljs.b0.upaiyun.com/images/icon-weibo.png?d) no-repeat center center;height:15px;width:15px;display:inline-block;text-indent:-1000px;overflow:hidden;}
#index .timeline-item .infos .desc .card a{word-wrap:normal;word-break:break-all;}
#index .timeline-item .infos .desc .card .key{color:#aaa;margin-left:10px;}
#index .timeline-item .infos .desc .card .key:first-child{margin-left:0;}
#index .timeline-item .infos .desc .card .shanchang .key{float:left;}
#index .timeline-item .infos .desc .card .shanchang .value{float:left;width:350px;}
#qas{background:#efefef;}#qas .actions{padding-bottom:5px;}#qas .actions .right-actions{float:right;}#qas .actions .right-actions a{padding:0 10px;line-height:30px;color:#5bb793;}
#qas .actions .right-actions a.active,#qas .actions .right-actions a:hover{color:#666;}
#qas .left{width:650px;float:left;overflow:hidden;}
#qas .right{width:270px;margin-left:20px;float:left;overflow:hidden;padding-top:35px;}#qas .right a{color:#6fb79b;}
#qas .right .recent_answers .item{border-bottom:1px solid #eee;padding:5px 0;}
#qas .right .hot_questions .item{border-bottom:1px solid #eee;padding:5px 0;}
#qas .qa-list{border:1px solid #f3f3f3;border-radius:5px;overflow:hidden;}
#qas .qa-item.yooo{background:#F7F7F7;}
#qas .qa-item.unanswered{background:#f1fff1;border-top:1px solid #deeadd;margin-top:-1px;border-bottom:1px solid #deeadd;}
#qas .qa-item{background:#fff;padding:10px;position:relative;}#qas .qa-item .tip{right:0;top:0;width:40px;height:16px;line-height:16px;text-align:center;background:#68a4d1;color:#fff;z-index:10;padding:1px 4px;font-weight:normal;font-size:12px;vertical-align:2px;}
#qas .qa-item .tip.new{background:#cb7a65;}
#qas .qa-item .tip.hot{background:#f74360;}
#qas .qa-item .entry-title{position:relative;}#qas .qa-item .entry-title .headpic{float:left;margin-right:20px;}
#qas .qa-item .entry-title .title{font-size:15px;line-height:30px;margin:0;font-weight:bold;font-weight:normal;padding-right:50px;}#qas .qa-item .entry-title .title a{color:#333;}
#qas .qa-item .entry-title .others{margin-top:10px;}
#qas .qa-item .entry-title .item{font-size:12px;margin-right:20px;}#qas .qa-item .entry-title .item .index{color:#aaa;}
#qas .qa-item .entry-title .item .value{color:#999;}
#qas .qa-item .entry-title .actions a{margin-right:5px;}
#qas .qa-item .entry-title .tags a{margin-right:5px;}
#qas .qa-item .entry-title .user{position:absolute;right:10px;top:7px;}#qas .qa-item .entry-title .user a{display:block;}
#qas .qa-item .entry-title .user img{width:40px;height:40px;}
#qas .qa-item .entry-content{padding:20px 0;word-break:break-all;color:#404040;}#qas .qa-item .entry-content h1,#qas .qa-item .entry-content h2,#qas .qa-item .entry-content h3,#qas .qa-item .entry-content h4,#qas .qa-item .entry-content h5{font-size:1.5em;}
#qas .qa-item .entry-content p{font-size:14px;line-height:20px;margin:10px 0;}
#qa-add{background:#efefef;}
#qa-add .left{width:650px;float:left;overflow:hidden;}#qa-add .left .module{padding-top:10px;}
#qa-add .left .control-group{width:610px;}
#qa-add .right{width:270px;margin-left:20px;float:left;overflow:hidden;}#qa-add .right .module.count span{font-size:14px;color:#999;padding-right:10px;}
#qa-add .tags-hd{float:left;}
#qa-add .tags .label{float:left;margin:0px 3px;cursor:pointer;margin-bottom:5px;}
#qa-add .tags a{float:left;margin:0px 3px;cursor:pointer;margin-bottom:5px;}
#qa-add .reason{width:100%;}
#qa{background:#efefef;}
#qa .left{width:650px;float:left;overflow:hidden;}
#qa .right{width:270px;margin-left:20px;float:left;overflow:hidden;padding-top:20px;}#qa .right .module.count span{font-size:14px;color:#999;padding-right:10px;}
#qa .right .edithistory .item{color:#999;}
#qa .right .edithistory em{color:#666;font-style:normal;}
#qa .right .item{border-bottom:1px solid #eee;padding:5px 0;}#qa .right .item a{color:#6fb79b;}
#qa .main{margin-top:20px;}#qa .main .con-comments{margin-top:10px;}
#qa .main .comment{background:#f7f7f7;padding:10px;}#qa .main .comment .comment-list{margin:0;}
#qa .main .comment .comment-item{padding-bottom:5px;}
#qa .main .comment .comment-publish{margin-top:10px;}
#qa .qa-title{border-bottom:1px solid #ddd;}#qa .qa-title .title{font-size:20px;line-height:50px;}
#qa .qa-content{padding:10px;font-size:14px;color:#404040;}
#qa .qa-user .action{float:left;}#qa .qa-user .action a{line-height:40px;margin-right:10px;color:#999;font-size:14px;}#qa .qa-user .action a i{-webkit-transform:scale(0.9);-moz-transform:scale(0.9);}
#qa .qa-user .action .tags a{padding:1px 4px;margin-right:5px;color:#fff;font-weight:normal;font-size:12px;background:#aaa;}
#qa .qa-user .action .tags a:hover{background:#5bb793;}
#qa .qa-user .user{float:right;font-size:12px;}#qa .qa-user .user img{width:40px;height:40px;float:left;margin-right:10px;}
#qa .qa-user .user .nick{width:120px;float:left;}#qa .qa-user .user .nick em{color:#999;font-weight:bold;font-size:12px;font-style:normal;}
#qa .qa-user .user .time{color:#999;}
#qa .answer-list .answer-item{border-bottom:1px solid #ddd;padding:10px 0;}#qa .answer-list .answer-item h1,#qa .answer-list .answer-item h2,#qa .answer-list .answer-item h3,#qa .answer-list .answer-item h4,#qa .answer-list .answer-item h5{font-size:1.5em;}
#qa .answer-list .answer-item .ans-con{float:left;width:560px;margin-left:10px;font-size:13px;color:#404040;}#qa .answer-list .answer-item .ans-con p{line-height:25px;}
#qa .answer-list .answer-item .ans-con .con-hd{font-size:12px;}
#qa .answer-list .answer-item .ans-con .con-action a{line-height:30px;color:#999;font-size:12px;margin-right:10px;}#qa .answer-list .answer-item .ans-con .con-action a i{-webkit-transform:scale(0.8);-moz-transform:scale(0.8);vertical-align:-3px;}
#qa .answer-list .answer-item .ans-con .con-action .edit i{-webkit-transform:scale(0.6);-moz-transform:scale(0.6);vertical-align:-3px;}
#qa .answer-list .answer-item .comment-publish{margin-top:10px;}#qa .answer-list .answer-item .comment-publish textarea{height:60px;}
#qa .answer-list .answer-item .con-comments{margin-top:10px;background:#f3f3f3;padding:10px;border-radius:5px;}#qa .answer-list .answer-item .con-comments .comment-list{font-size:12px;}#qa .answer-list .answer-item .con-comments .comment-list .comment-item{border-bottom:1px dashed #ddd;padding:8px 0;}#qa .answer-list .answer-item .con-comments .comment-list .comment-item .content{color:#666;}
#qa .answer-list .answer-item .con-comments .comment-list .comment-item .time{padding-left:10px;color:#999;}
#qa .answer-list .answer-item .con-comments .comment-list .comment-item .reply{display:none;cursor:pointer;}
#qa .answer-list .answer-item .con-comments .comment-list .comment-item:hover .reply{display:inline;}
#qa .answer-list .answer-item .con-comments .more{line-height:30px;font-size:12px;color:#6fb79b;}
#qa .answer-list .answer-item .ans-user{float:left;padding-top:3px;width:40px;}#qa .answer-list .answer-item .ans-user .zan{margin-top:10px;background:#efefef;border:1px solid #eee;width:38px;height:40px;display:inline-block;border-radius:3px;text-align:center;overflow:hidden;}#qa .answer-list .answer-item .ans-user .zan em{display:block;font-style:normal;line-height:25px;color:#999;}
#qa .answer-list .answer-item .ans-user .zan i{display:block;margin-top:-1px;margin-left:10px;width:0;height:0;border-width:8px 8px;border-style:solid;border-color:#efefef #efefef #5bb793 #efefef;}
#qa .answer-list .answer-item .ans-user .zan:hover{background:#5bb793;}#qa .answer-list .answer-item .ans-user .zan:hover em{color:#fff;}
#qa .answer-list .answer-item .ans-user .zan:hover i{border-color:#5bb793 #5bb793 #ffffff #5bb793;}
#qa .answer-list .answer-item .ans-user img{border-radius:5px;}
#qa .answer-list .answer-item .ans-user .user{color:#666;display:block;}
#qa .answer-list .answer-item .ans-user .nick,#qa .answer-list .answer-item .ans-user .time{width:120px;text-align:left;margin-left:40px;padding-left:10px;}
#qa .answer-list .answer-item .ans-user .time{color:#999;}
#qa .answer-list .answer-item .ans-user img{width:40px;height:40px;}
#qa .publish legend{margin:0;}
#qa .publish .control-group{margin-top:10px;}
#qa .publish .fake-form{padding-top:10px;}#qa .publish .fake-form textarea{width:600px;border-radius:3px;}
#tags{background:#efefef;}#tags .tag-list{margin-top:10px;width:1000px;}
#tags .tag-item{width:270px;display:inline-block;vertical-align:top;background:#fff;padding:15px;border-radius:5px;margin-right:15px;margin-bottom:20px;}#tags .tag-item .tag-name{font-size:20px;font-weight:bold;line-height:30px;color:#404040;color:#5bb793;}
#tags .tag-item .tag-edit{padding-left:10px;}
#tags .tag-item .tag-keywords{color:#999;line-height:20px;}
#tags .tag-item .tag-desc{color:#666;font-size:12px;margin-top:5px;height:180px;overflow:hidden;}
#tag{background:#efefef;}#tag #content{width:700px;}
#tag .tag-name{font-size:20px;font-weight:bold;line-height:30px;color:#404040;color:#5bb793;}
#tag .tag-edit{padding-left:10px;}
#tag .tag-keywords{color:#999;line-height:20px;}
#tag .tag-desc{color:#666;font-size:12px;margin-top:5px;}
#tag .qa-list{border:1px solid #f3f3f3;border-radius:5px;overflow:hidden;}
#tag .qa-item.yooo{background:#F7F7F7;}
#tag .qa-item.unanswered{background:#f1fff1;border-top:1px solid #deeadd;margin-top:-1px;border-bottom:1px solid #deeadd;}
#tag .qa-item{background:#fff;padding:10px;position:relative;}#tag .qa-item .tip{position:absolute;right:0;top:0;width:40px;height:16px;font-size:12px;line-height:16px;text-align:center;background:#68a4d1;color:#fff;z-index:10;}
#tag .qa-item .entry-title{height:50px;position:relative;}#tag .qa-item .entry-title .headpic{float:left;margin-right:20px;}
#tag .qa-item .entry-title .title{font-size:16px;line-height:30px;margin:0;font-weight:normal;}#tag .qa-item .entry-title .title a{color:#333;}
#tag .qa-item .entry-title .item{font-size:12px;margin-right:20px;}#tag .qa-item .entry-title .item .index{color:#aaa;}
#tag .qa-item .entry-title .item .value{color:#999;}
#tag .qa-item .entry-title .tags a{margin-right:5px;}
#tag .qa-item .entry-title .user{position:absolute;right:10px;top:7px;}#tag .qa-item .entry-title .user a{display:block;}
#tag .qa-item .entry-title .user img{width:40px;height:40px;}
#tag .qa-item .entry-content{padding:20px 0;word-break:break-all;color:#404040;}#tag .qa-item .entry-content h1,#tag .qa-item .entry-content h2,#tag .qa-item .entry-content h3,#tag .qa-item .entry-content h4,#tag .qa-item .entry-content h5{font-size:1.5em;}
#tag .qa-item .entry-content p{font-size:14px;line-height:20px;margin:10px 0;}
#user{background:#efefef;}#user .top-info{width:950px;background:#fff;border-radius:5px;}#user .top-info .left{float:left;width:680px;}
#user .top-info .right{float:left;width:250px;margin-left:10px;}
#user .baseinfo .head-pic{float:left;width:100px;height:100px;margin:10px 0;}
#user .baseinfo .base-info{float:left;width:520px;}
#user .baseinfo .item{margin-top:7px;color:#eee;width:520px;}#user .baseinfo .item a{padding:0 5px;}
#user .baseinfo .item span{color:#999;padding:0 5px;display:inline-block;}
#user .baseinfo .sns a{padding-right:5px;}
#user .baseinfo .sns .blog{background:url(http://htmljs.b0.upaiyun.com/images/icon-blog.png) no-repeat center center;height:15px;width:15px;display:inline-block;text-indent:-1000px;overflow:hidden;}
#user .baseinfo .sns .github{background:url(http://htmljs.b0.upaiyun.com/images/github.png) no-repeat center center;height:15px;width:15px;display:inline-block;text-indent:-1000px;overflow:hidden;}
#user .baseinfo .sns .weibo{background:url(http://htmljs.b0.upaiyun.com/images/icon-weibo.png?d) no-repeat center center;height:15px;width:15px;display:inline-block;text-indent:-1000px;overflow:hidden;}
#user .visit-info .visitor{float:left;margin-right:5px;margin-bottom:5px;}#user .visit-info .visitor img{width:30px;height:30px;}
#user .my_card{width:650px;margin:20px 0;}#user .my_card .item{margin-right:50px;margin-bottom:20px;font-size:13px;padding-left:5px;line-height:18px;word-break:break-all;}#user .my_card .item .key{color:#404040;padding-right:10px;}
#user .my_card .item .value{color:#999;}
#user .main{margin-top:20px;width:950px;}#user .main .left{float:left;width:200px;}
#user .main .right{width:740px;float:left;margin-left:10px;}
#user .main .nav a{display:block;line-height:30px;font-size:14px;color:#666;}
#user .main .nav a:hover,#user .main .nav a.active{color:#5bb793;font-weight:bold;}
#user .main .infos .info-item{border-top:1px dotted #eee;padding-top:10px;padding-bottom:10px;padding:10px;}#user .main .infos .info-item .t{color:#999;line-height:20px;}#user .main .infos .info-item .t .time{padding-left:10px;color:#ccc;}
#user .main .infos .info-item .con{background:#f3f3f3;border-radius:3px;padding:10px;color:#666;}#user .main .infos .info-item .con p{margin:0;}
#user .main .infos .info-item.noread{background:#f8faf7;}
#user .main .infos .entry-title{padding-bottom:5px;}#user .main .infos .entry-title .headpic{float:left;margin-right:20px;}
#user .main .infos .entry-title .title{margin:0;font-size:14px;line-height:20px;}#user .main .infos .entry-title .title a{font-size:14px;line-height:20px;margin:0;color:#333;font-weight:normal;}
#user .main .infos .entry-title .tip{right:0;top:0;width:40px;height:20px;line-height:20px;text-align:center;background:#68a4d1;color:#fff;z-index:10;padding:3px 6px;font-weight:normal;font-size:12px;vertical-align:2px;margin-right:5px;}
#user .main .infos .entry-title .tip.new{background:#cb7a65;}
#user .main .infos .entry-title .tip.hot{background:#f74360;}
#user .main .infos .entry-foot{line-height:30px;}#user .main .infos .entry-foot .item{font-size:12px;margin-right:20px;}#user .main .infos .entry-foot .item .index{color:#bbb;}
#user .main .infos .entry-foot .item .value{color:#999;}
#reads{background:#efefef;}#reads .actions{padding-bottom:5px;}#reads .actions .left-actions{float:left;}
#reads .actions .right-actions{float:right;}
#reads #content{margin-top:20px;padding-top:0;width:940px;}#reads #content .bd{padding:20px 0;}
#reads ul,#reads li{margin:0;}
#reads .my-reads .article-list .post{margin-top:10px;border-bottom:1px solid #eee;}
#reads .my-reads .entry-title .title{font-size:14px;line-height:20px;font-weight:normal;}
#reads .my-reads .entry-content{font-size:12px;color:#999;line-height:18px;max-height:50px;overflow:hidden;margin:10px 0;}
#reads .my-reads .entry-others{font-size:12px;color:#999;margin:10px 0;}#reads .my-reads .entry-others .item{margin-right:10px;}#reads .my-reads .entry-others .item a{color:#999;}
#reads .all-reads{width:950px;position:relative;}#reads .all-reads #canvas{position:absolute;z-index:-1;width:950px;height:100%;top:0;left:0;}
#reads .all-reads .post{background:#fff;border-radius:3px;padding:10px;margin-top:20px;position:relative;}#reads .all-reads .post .user{position:absolute;width:100px;height:15px;}#reads .all-reads .post .user a{display:block;}
#reads .all-reads .post .user img{width:30px;height:30px;border-radius:40px;background:#fff;border:2px solid #5bb793;display:block;}
#reads .all-reads .post .user .time{font-size:12px;color:#999;line-height:10px;}
#reads .all-reads .left-list{float:left;width:380px;}#reads .all-reads .left-list .user{right:-97px;top:30px;border-bottom:2px solid #fff;}#reads .all-reads .left-list .user a{float:right;}
#reads .all-reads .left-list .user .time{float:right;padding-right:10px;}
#reads .all-reads .right-list{float:left;width:380px;margin-left:180px;}#reads .all-reads .right-list .user{left:-97px;top:30px;border-bottom:2px solid #fff;}#reads .all-reads .right-list .user a{float:left;}
#reads .all-reads .right-list .user .time{padding-left:10px;float:left;}
#reads .all-reads .entry-title .title{font-size:14px;line-height:20px;font-weight:normal;}
#reads .all-reads .entry-content{font-size:12px;color:#999;line-height:18px;overflow:hidden;margin:10px 0;height:50px;}
#reads .all-reads .entry-others{font-size:12px;color:#999;margin:10px 0;}#reads .all-reads .entry-others .item{margin-right:10px;}#reads .all-reads .entry-others .item a{color:#999;}
#read article.post{border-radius:5px;padding:20px;background:#fff;}#read article.post .share{margin-top:0 !important;}
#read article.post .entry-title{height:70px;}#read article.post .entry-title .headpic{float:left;margin-right:20px;}
#read article.post .entry-title .title{font-size:18px;line-height:30px;margin:0;color:#b2571a;font-weight:normal;}
#read article.post .entry-title .item{font-size:12px;margin-right:20px;}#read article.post .entry-title .item .index{color:#aaa;}
#read article.post .entry-title .item .value{color:#888;}
#read article.post .entry-content{padding:20px 0;color:#404040;font-size:13px;}
#articles{background:#efefef;}#articles .column{background:#fff;color:#333;padding:15px;border-radius:3px;margin-bottom:10px;}#articles .column .col-title{font-size:16px;color:#666;font-weight:bold;line-height:30px;}
#articles .column .col-desc{color:#999;font-size:12px;}
#articles .column .col-user{color:#999;font-size:12px;}
#articles .column .col-action{margin-top:10px;}
#articles .column-list{border-radius:5px;margin-bottom:20px;}#articles .column-list .hd{font-size:14px;font-weight:bold;}
#articles .column-list .bd{margin-top:20px;}
#articles .column-list .column-item{display:inline-block;border-radius:3px;padding:12px 15px;margin-bottom:10px;margin-right:5px;border:1px solid #eee;background:#5bb793;vertical-align:top;width:151px;color:#fff;}#articles .column-list .column-item .title{font-size:14px;font-weight:bold;color:#fff;}
#articles .column-list .column-item .user{color:#fff;line-height:25px;}
#articles .column-list .column-item .others{color:#eee;font-size:12px;line-height:20px;opacity:0.8;margin-left:-2px;}#articles .column-list .column-item .others .item{margin-right:10px;}#articles .column-list .column-item .others .item i{transform:scale(0.7);-webkit-transform:scale(0.7);-moz-transform:scale(0.7);-ms-transform:scale(0.7);-o-transform:scale(0.7);vertical-align:-2px;padding-right:2px;}
#articles .column-list .other-column{display:inline-block;}
#articles .column-list .more-column,#articles .column-list .create-column,#articles .column-list .publish-column{padding:5px 10px;margin:0;margin-bottom:2px;font-size:12px;width:70px;margin-right:5px;}#articles .column-list .more-column i,#articles .column-list .create-column i,#articles .column-list .publish-column i{margin-right:3px;margin-top:-1px;}
#articles .column-list .column-item:hover{background:#68a4d1;}
#articles .post{background:#fff;padding:10px;position:relative;}#articles .post .tip{right:0;top:0;width:40px;height:16px;line-height:16px;text-align:center;background:#68a4d1;color:#fff;z-index:10;padding:1px 4px;font-weight:normal;font-size:12px;vertical-align:2px;margin-left:10px;}
#articles .post .tip.new{background:#cb7a65;}
#articles .post .tip.hot{background:#f74360;}
#articles .post .fang-eye{display:inline-block;width:13px;height:13px;background:url(../images/fang-eye.png) no-repeat;background-size:100%;}
#articles .post .entry-title{position:relative;}#articles .post .entry-title .headpic{float:left;margin-right:20px;}
#articles .post .entry-title .title{font-size:15px;line-height:30px;margin:0;font-weight:bold;font-weight:normal;padding-right:50px;}#articles .post .entry-title .title a{color:#333;}
#articles .post .entry-title .title{margin:0;}#articles .post .entry-title .title a{line-height:30px;margin:0;color:#111;font-weight:normal;}
#articles .post .entry-title .title .real-title{margin-left:10px;}
#articles .post .entry-title .title .t-user{display:inline-block;margin-right:5px;vertical-align:-4px;background:#fff;box-shadow:1px 1px 1px #ddd;width:20px;height:20px;}#articles .post .entry-title .title .t-user img{display:block;}
#articles .post .entry-title .others{margin-top:10px;}
#articles .post .entry-title .item{font-size:12px;margin-right:20px;}#articles .post .entry-title .item .index{color:#aaa;}
#articles .post .entry-title .item .value{color:#999;}
#articles .post .entry-title .actions a{margin-right:5px;}
#articles .post .entry-title .tags a{margin-right:5px;}
#articles .post .entry-title .user{position:absolute;right:10px;top:7px;}#articles .post .entry-title .user a{display:block;}
#articles .post .entry-title .user img{width:40px;height:40px;}
#articles .post .entry-content{padding:20px 0;word-break:break-all;color:#404040;}#articles .post .entry-content h1,#articles .post .entry-content h2,#articles .post .entry-content h3,#articles .post .entry-content h4,#articles .post .entry-content h5{font-size:1.5em;}
#articles .post .entry-content p{font-size:14px;line-height:20px;margin:10px 0;}
#articles .post .entry-foot{line-height:30px;}#articles .post .entry-foot .item{font-size:12px;margin-right:20px;}#articles .post .entry-foot .item .index{color:#bbb;}
#articles .post .entry-foot .item .value{color:#999;}
#articles .post.yooo{background:#F7F7F7;}
#articles .article-list{margin:0;padding:0;}
#article{background:#efefef;}#article .right .module.count span{padding-right:10px;color:#999;}
#article .right .module.user .item{margin-top:10px;font-size:12px;color:#999;}
#article .post .entry-title{border-bottom:1px solid #eee;padding-bottom:10px;}#article .post .entry-title .headpic{float:left;margin-right:20px;margin-top:10px;}
#article .post .entry-title .title{font-size:20px;line-height:30px;margin:0;color:#404040;font-weight:normal;}
#article .post .entry-title .item{font-size:12px;margin-right:20px;}#article .post .entry-title .item .index{color:#aaa;}
#article .post .entry-title .item .value{color:#888;}
#article .post .entry-content{color:#555;padding:20px 0;font-size:13px;line-height:25px;word-wrap:break-word;word-break:break-all;}#article .post .entry-content h1,#article .post .entry-content h2,#article .post .entry-content h3,#article .post .entry-content h4,#article .post .entry-content h5{font-size:1.5em;}
#article .post .entry-content p{line-height:25px;margin:20px 0;}
#article .post .entry-content img{display:block;}
#article .post .entry-meta{padding-top:10px;border-top:1px solid #ddd;color:#999;}
#add-article{background:#efefef;}#add-article .columns .bd{padding-top:10px;}
#add-article .columns .label{margin-right:5px;float:left;cursor:pointer;}
