.clearfix:after,.clearfix:before,.headerCon:before{display:table;content:"";overflow:hidden;}
.headerCon:after,.clearfix:after{clear:both;}
.headerCon,.clearfix{zoom:1;}
.hidden{display:none !important;}
.loading-tip{position:fixed;top:0;height:20px;line-height:20px;padding:2px 5px;background:#f4e8ab;color:#333;display:none;z-index:10000;right:30px;box-shadow:1px 1px 1px #ddd;}
.message-tip{position:fixed;top:200px;left:45%;height:20px;line-height:20px;padding:2px 10px;border-radius:15px;background:#f4e8ab;color:#333;border:1px solid #dac55f;opacity:0;z-index:10000;-webkit-animation:zoomIn 400ms ease both;-webkit-backface-visibility:visible;-moz-animation:zoomIn 400ms ease both;-moz-backface-visibility:visible;-o-animation:zoomIn 400ms ease both;-o-backface-visibility:visible;animation:zoomIn 400ms ease both;}
.message-tip.show{opacity:1;-webkit-animation:zoomOut 400ms ease both;-webkit-backface-visibility:visible;-moz-animation:zoomOut 400ms ease both;-moz-backface-visibility:visible;-o-animation:zoomOut 400ms ease both;-o-backface-visibility:visible;animation:zoomOut 400ms ease both;}
.module{width:100%;margin-left:10px;background:#fff;border-radius:5px;padding:15px 20px;margin-bottom:10px;}.module .hd{line-height:30px;color:#333;font-size:18px;height:40px;font-weight:bold;color:#666;}
.module .bd{font-size:12px;padding:10px;color:#666;}
#content{width:940px;margin:20px auto;padding-top:50px;}#content .btn{height:30px;border:none;padding:0;background:#5bb793;padding-left:10px;padding-right:10px;border-radius:3px;display:inline-block;color:#fff;line-height:30px;}
#content .btn:hover{background:#30b380;}
#gotop{position:fixed;right:50px;bottom:20px;display:block;width:50px;height:50px;background:#aaa;color:#fff;line-height:50px;text-align:center;cursor:pointer;}
.group{margin-bottom:10px;}
.group .label{margin:0 5px;}
.pagination{margin-bottom:5px;margin-left:0;}
.table td{font-size:12px;height:18px;padding:0 20px;}
.search input{height:20px;}
.search button{height:25px;}
.cat-select .label{margin:2px 5px;cursor:pointer;}
.action a{padding:0 5px;}
#header .navbar-inner{background:#5bb793;border:none;color:#fff;}#header .navbar-inner a{text-shadow:none;color:#fff;}
#header .navbar-inner .active a{color:#5bb793;background:#fff;}
#footer .wrapper{width:960px;margin:30px auto;}
#footer .links li{float:left;margin-right:20px;list-style:none;}
.f2er-list li{position:relative;}.f2er-list li .renling{position:absolute;right:10px;top:10px;}
#layer{width:100%;height:100%;opacity:0.7;background:#333;position:absolute;top:0;left:0;z-index:10000;}
#login_popup{position:relative;margin:100px auto;width:400px;height:160px;background:#fff;border-radius:5px;text-align:center;padding-top:10px;z-index:10001;}#login_popup span{display:block;text-align:center;font-size:18px;color:#333;line-height:30px;margin-top:20px;}
#login_popup .icon{background:url(../images/login.png) no-repeat center center;width:100%;height:90px;display:block;}
#login_popup div{margin-top:30px;color:#666;}
.fb-like{padding-left:20px;}
#me{background:#efefef;}#me .left{float:left;width:600px;}
#me .right{float:left;width:340px;}
#me .article-list{width:100%;overflow:hidden;}
#me .my_card{width:560px;background:#fff;border-radius:5px;padding:10px 20px;margin-bottom:10px;}#me .my_card .edit{float:right;font-size:12px;}
#me .my_card .hd{line-height:50px;color:#333;font-size:16px;}
#me .my_card .item{margin-bottom:15px;}#me .my_card .item .key{float:left;width:90px;color:#999;}
#me .my_card .item .value{float:left;color:#404040;width:360px;}
#me .card-article .title{line-height:30px;margin-top:20px;}
#me .module{margin-left:10px;background:#fff;border-radius:5px;padding:15px 20px;margin-bottom:10px;}#me .module .hd{line-height:25px;color:#333;font-size:16px;height:30px;}
#me .count .visitor{float:left;margin-right:5px;}#me .count .visitor img{width:30px;height:30px;}
#me .setting{margin-left:10px;background:#fff;border-radius:5px;padding:10px 20px;}#me .setting .hd{line-height:50px;color:#333;font-size:16px;}
#me .setting .item{margin-bottom:15px;}#me .setting .item .key{float:left;width:90px;color:#999;}
#me .setting .item .value{float:left;color:#404040;width:300px;}
#me .setting .item a{display:inline-block;width:40px;text-align:center;border:2px solid #5bb793;background:#ddd;color:#aaa;height:18px;line-height:18px;cursor:pointer;}
#me .setting .item a.active{background:#5bb793;color:#fff;}
#me .bao .publish-text{padding:10px 0;vertical-align:top;}#me .bao .publish-text button{vertical-align:top;}
#me .bao .publish-text textarea{width:270px;}
#me .bao .publish-text .publish-inner{display:none;height:0px;overflow:hidden;}
#me .bao .publish_pic{width:280px;margin-bottom:10px;}
#me .bao .act_pic{position:relative;overflow:hidden;}#me .bao .act_pic input{position:absolute;left:0;top:0;width:50px;opacity:0;}
#me .bao .bao-item{padding:5px 0;border-bottom:1px solid #ddd;font-size:12px;}#me .bao .bao-item .bao-content{line-height:20px;}#me .bao .bao-item .bao-content span{color:#aaa;padding-left:10px;}
#me .bao .bao-item .bao-action a{font-size:12px;margin-right:10px;}
#me .bao .bao-item .bao_comment{padding-left:0px;padding-top:10px;height:0px;overflow:hidden;}#me .bao .bao-item .bao_comment textarea{width:240px;}
#me .bao .bao-item .bao_comment_item{padding-left:0px;padding-top:3px;}#me .bao .bao-item .bao_comment_item textarea{width:240px;}
#me .bao .bao-item .bao_comment_item span{color:#aaa;padding-left:10px;}
#cards{background:#efefef;}#cards .head_pic{float:left;}
#cards .search{margin-bottom:5px;}
#cards .f2er-list{padding:0;margin:0;width:1000px;}
#cards .f2er-list .sns a{padding-left:10px;}
#cards .f2er-list li{width:360px;background:#fff;border-radius:5px;list-style:none;margin:0;display:inline-block;vertical-align:top;margin-top:10px;padding:15px;font-size:12px;color:#666;margin-right:10px;box-shadow:1px 1px 2px #ddd;}
#cards .f2er-list li a{word-wrap:normal;word-break:break-all;}
#cards .f2er-list li .key{color:#aaa;margin-left:10px;}
#cards .f2er-list li .shanchang .key{float:left;}
#cards .f2er-list li .shanchang .value{float:left;width:260px;}
#cards .f2er-list li .more{margin-left:10px;}
#cards .main{width:1000px;}
#cards .infos{float:left;width:310px;}
#cards .left{float:left;width:780px;}
#cards .right{float:left;width:200px;margin-left:20px;padding-top:65px;}#cards .right .module{margin-left:10px;background:#fff;border-radius:5px;padding:15px 20px;margin-bottom:10px;}#cards .right .module .hd{line-height:30px;color:#333;font-size:18px;height:40px;font-weight:bold;color:#666;}
#cards .right .module .bd{font-size:12px;padding:10px;color:#666;}
#card #bdshare,#me #bdshare{float:none;}
#card .bao .actions a,#me .bao .actions a{margin-right:20px;}
#article{background:#efefef;}#article .post .entry-title .headpic{float:left;margin-right:20px;margin-top:10px;}
#article .post .entry-title .title{font-size:16px;line-height:30px;margin:0;color:#404040;font-weight:normal;}
#article .post .entry-title .item{font-size:12px;margin-right:20px;}#article .post .entry-title .item .index{color:#aaa;}
#article .post .entry-title .item .value{color:#888;}
#article .post .entry-content{color:#404040;padding:20px 0;word-wrap:break-word;word-break:break-all;}#article .post .entry-content h1,#article .post .entry-content h2,#article .post .entry-content h3,#article .post .entry-content h4,#article .post .entry-content h5{font-size:1.5em;}
#article .post .entry-content p{font-size:14px;line-height:20px;margin:10px 0;}
#article article{background:#fff;border-radius:5px;padding:20px;}
#articles .left,#article .left{float:left;width:680px;}#articles .left .new_warning,#article .left .new_warning{margin-left:0;width:640px;}
#articles .left .actions,#article .left .actions{background:#fff;padding:10px;margin-bottom:10px;border-radius:3px;}#articles .left .actions .publish,#article .left .actions .publish{height:30px;line-height:30px;background:#5bb793 url(../images/button+.png) no-repeat 0 -1px;padding-left:30px;padding-right:10px;border-radius:3px;display:inline-block;color:#fff;margin-right:10px;}
#articles .left .actions .publish:hover,#article .left .actions .publish:hover{background-color:#35b382;}
#articles .left .title a,#article .left .title a{overflow:hidden;height:30px;display:block;}
#articles .left .cats,#article .left .cats{background:#fff;padding:10px;margin-bottom:10px;border-radius:3px;}#articles .left .cats a,#article .left .cats a{border-right:1px solid #ddd;padding:0 10px;font-size:16px;color:#999;}
#articles .left .cats a.active,#article .left .cats a.active{color:#333;}
#articles .right,#article .right{float:left;width:250px;margin-left:10px;}
#articles .module,#article .module{width:100%;margin-left:10px;background:#fff;border-radius:5px;padding:15px 20px;margin-bottom:10px;}#articles .module .hd,#article .module .hd{line-height:30px;color:#333;font-size:18px;height:40px;font-weight:bold;color:#666;}
#articles .module .bd,#article .module .bd{font-size:12px;padding:10px;color:#666;}
#articles,#me{background:#efefef;}#articles .article-list,#me .article-list{margin:0;padding:0;}#articles .article-list .post,#me .article-list .post{background:#fff;margin-bottom:30px;padding:20px;border-radius:5px;}#articles .article-list .post .entry-title,#me .article-list .post .entry-title{height:50px;}#articles .article-list .post .entry-title .headpic,#me .article-list .post .entry-title .headpic{float:left;margin-right:20px;}
#articles .article-list .post .entry-title .title,#me .article-list .post .entry-title .title{font-size:16px;line-height:30px;margin:0;color:#404040;font-weight:normal;}
#articles .article-list .post .entry-title .item,#me .article-list .post .entry-title .item{font-size:12px;margin-right:20px;}#articles .article-list .post .entry-title .item .index,#me .article-list .post .entry-title .item .index{color:#aaa;}
#articles .article-list .post .entry-title .item .value,#me .article-list .post .entry-title .item .value{color:#888;}
#articles .article-list .post .entry-content,#me .article-list .post .entry-content{padding:20px 0;color:#404040;}#articles .article-list .post .entry-content h1,#me .article-list .post .entry-content h1,#articles .article-list .post .entry-content h2,#me .article-list .post .entry-content h2,#articles .article-list .post .entry-content h3,#me .article-list .post .entry-content h3,#articles .article-list .post .entry-content h4,#me .article-list .post .entry-content h4,#articles .article-list .post .entry-content h5,#me .article-list .post .entry-content h5{font-size:1.5em;}
#articles .article-list .post .entry-content p,#me .article-list .post .entry-content p{font-size:14px;line-height:20px;margin:10px 0;}
