

@media screen and (min-width:100px) and (max-width:800px){
  html,body{

  }
  body{
    padding:10px;
  }
  #gotop{
    right:10px;
    bottom: 10px;
  }
  #content,#header,#footer{
    width:100% !important;
    .left{
      width:100% !important;
    }
    .right{
      width:100% !important;
      margin-left: 0;
      .module{
        margin-left: 0;
      }
    }
    .module{
      padding:10px;
    }
    .wrapper{
      width:100% !important;
    }
    .main{
      width:100% !important;
    }
  }
  .navbar .container{
    width:100% !important;
  }
  #index{
    .timeline-item{
      .others{
        margin-top: 10px;
      }
     .entry-foot{
      line-height: 25px;
     }
      .item{
        line-height: 14px;
      }
      .time{
        display: block;
    }
    }
    
  }
  #header{
    .navbar{
      li[pageId="4"]{
        display: none !important;
      }
      li[pageId="9"]{
        display: none !important;
      }
      i{
        display: none;
      }
      .right-nav{
        position: absolute;
        right:0px;
        top:30px;
        background: @green;
        padding-right:10px;
      }
    }
  }
  #articles{
    .column-item{
      width:90% !important;

    }
  }
  #cards{

    .f2er-list{
      width:100% !important;

      li{
        width:90% !important;
        margin:10px 0 !important; 
        padding:5%;
      }
    }
  }
}