#qas{
background:#efefef;
  .actions{
    padding-bottom: 5px;
    .right-actions{
      float: right;
      a{
        padding:0 10px;
        line-height: 30px;
        color:@green;
      }
      a.active,a:hover{
        color:#666;
      }
    }
  }
  .qa-list{
    border:1px solid #f3f3f3;
  }
  .left{
    width:700px;
    margin:0 auto;
  }
  .qa-item.yooo{
    background: #efefef;
  }
  .qa-item{
    background: #fff;
    border-radius:5px;
    padding:10px;
    .entry-title{
      height:50px;
      position: relative;
      .headpic{
        float: left;
        margin-right: 20px;
      }
      .title{
        font-size:16px;
        line-height: 30px;
        margin:0;
        
        font-weight: normal;
        a{
          color: #333;
        }
      }
      .item{
        font-size: 12px;
        margin-right: 20px;
        .index{
          color:#aaa;
        }
        .value{
          color:#999;
        }
      }
      .user{
        position: absolute;
        right:10px;
        top:7px;
        a{
          display: block;
        }
        img{
          width:40px;
          height:40px;
        }
      }
    }
    .entry-content{
      padding:20px 0;
      word-break: break-all;
      color:#404040;
      h1,h2,h3,h4,h5{
        font-size:1.5em;
      }
      p{
        font-size:14px;
        line-height:20px;
        margin:10px 0;
      }
    }
  }
}
#qa-add{
  #content{
    width:700px;
    margin: 0 auto;
  }
}
#qa{
  background:#efefef;
  #content{
    width:700px;
    margin: 0 auto;
  }
  .module{
    .bd{

    }
  }
  .qa-title{
    height:50px;
    border-bottom: 1px solid #ddd;
    .title{
      font-size: 20px;
      line-height: 50px;
    }
  }
  .qa-content{
    padding:10px;
    font-size: 14px;
    color: #404040;
  }
}