!!! 5
html
  head
    include ./../head
    title 前端乱炖-活动
    link(href='/assets/css/Markdown.Editor.css', type='text/css', rel='stylesheet', charset='utf-8')
    script(src='/assets/js/jquery.js')
    
  body#act-add
    - locals.pageId=5;
    include ./../header
    #content.clearfix
      form(action="",method="post")
        fieldset
          label isbn
          input#isbn.input-large(type="text",placeholder="isbn",name="isbn")
          button.btn#isbn_to_info(type="button") 查询
          label 书名
          input.input-xxlarge(type="text",placeholder="书名",name="title")
          label desc
          textarea(placeholder="desc",name="desc")
          label pic
          input(type="text",placeholder="pic",name="pic")
          label 地址
          input.input(type="text",placeholder="地址",name="url")
          label price
          input.input(type="text",placeholder="price",name="price")
          label author
          input.input-xxlarge(type="text",placeholder="author",name="author")
          div
            button.btn(type="submit") 提交
      
    script(src='/assets/js/ajaxfileupload.js')
    script(src='/assets/js/loadingTip.js')
    script(src='/assets/js/messageTip.js')
    script
      $("#isbn_to_info").click(function(){
          $.ajax({
            url:"/book/isbn_to_info",
            dataType:"json",
            type:"get",
            data:{
              isbn:$("#isbn").val()
            },
            success:function(data){
              
              if (data.success){
                if (data.data.msg){
                  messageTip.show(data.data.msg)
                }else{
                  book= data.data
                  $("input[name='title']").val(book.title)
                  $("textarea[name='desc']").val(book.summary)
                  $("input[name='pic']").val(book.images.large)
                  $("input[name='price']").val((book.price.replace(/[^0-9.]/,"")*1).toFixed(2))
                  $("input[name='url']").val(book.alt)
                  $("input[name='author']").val(book.author.join(" "))
                  $("textarea[name='author_desc']").val(book.author_intro)
                  if(book.images.large){
                    loadingTip.show("封面上传中")
                    $("#cover_status").html("封面正在上传中")
                    $.ajax({ 
                      url:"/online_to_local",
                      dataType:"json",
                      type:"post",
                      data:{
                        url:book.images.large
                      },
                      success:function(data){
                        if(data.success){
                          $("input[name='pic']").val(data.data.filename)
                          
                        }else{
                          alert("封面上传失败")
                        }
                        
                      }
                    })
                  }
                 
                }
              }else{
                messageTip.show(data.info)
              }
              loadingTip.hide()
            },
            error:function(){
              loadingTip.hide()
            }
          })    
        })
         

